.front-end {

}

.grid {
  display: grid;
  width: 100%;
}

.front-end header {
  display: inline-block;
  width: 100%;
}

/* unvisited link */
.front-end a:link {
  color: green;
}

/* visited link */
.front-end a:visited {
  color: green;
}

/* mouse over link */
.front-end a:hover {
  color: red;
}

/* selected link */
.front-end a:active {
  color: yellow;
}
.front-end .site-name {
  width: 100%;
  font-size: 48px;
  line-height: 48px;
}

.front-end .Title {
  width: 100%;
  display: inline-block;
}

.front-end .site-meta {
  width: 100%;
  display: inline-block;
}

.front-end .site-p {
  display: block;
  float: left;
  font-size: 18px;
  line-height: 48px;
}

.front-end .search-input {
  display: block;
  float: right;
}

.front-end .search-input input {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  font-size: 24px;
  line-height: 48px;
}

.front-end .entry-thumbnail-bg {
  width: 100%;
  display: block;
}

.front-end .entry-thumbnail-bg img {
  width: auto;
  max-width: 100%;
  display: block;
  margin: auto;
}

.front-end article {
  min-height: 100vh;
}

.front-end .blog article .post-container {
  
}

.front-end .blog article .post-container .components-post-title h2 {
  text-align: right;
  font-size: 24px;
  line-height: 48px;
}

.front-end .blog article .components-post-title {
  width: 100%;
  display: inline-block;
}

.front-end .blog article .components-post-title .components-post-author {
  font-size: 24px;
  line-height: 48px;
  display: block;
    max-width: 50%;
    float: left;
}

.front-end .blog article .components-post-title .components-post-link {
  font-size: 24px;
  line-height: 48px;
  display: block;
  max-width: 50%;
  float: right;
  color: #ffffff;
}

.front-end .blog article .components-post-title .components-post-link span {
  background: green;
}

.front-end .blog article .components-post-meta .subtitle {
  width: 100%;
  font-size: 36px;
  line-height: 48px;
  display: block;
  text-align: right;
}

.front-end .blog article .components-post-meta .excerpt {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: right;
}

.front-end .blog article .components-post-meta .entry-format {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: right;
}

.front-end .blog article .components-post-meta .entry-date {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: right;
}

.front-end .blog article .components-post-meta .entry-views {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: right;
}

.front-end .blog article .components-post-meta .entry-cats {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: right;
}

.front-end .blog article .components-post-meta .entry-tags {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: right;
}

/* ui switches */
#body.ui_switch_search_true.front-end .search-input input#s:focus {
  text-align: left;
}

#body.ui_switch_search_true .searching_menu {
  position: relative;
  width: 100%;
  min-height: calc(100vh);
  background: #242424;
  float: left;
}

#body.ui_switch_search_false .searching_menu {
  display: none;
}

.post .copy_Link input {
  background: yellow;
  color: #000000;
}

.post .copy_Link input:focus{
  background: #242424;
  color: #ffffff;
}

.front-end input:focus{
  outline: none;
  text-align: left;
  box-shadow: none;
  border: none;
  padding: 0;
  background: #242424;
  color: #ffffff;
}

.front-end .search-input input#s:focus{
  outline: none;
  text-align: left;
  box-shadow: none;
  border: none;
  padding: 0;
  background: #242424;
  color: #ffffff;
}

::placeholder {
  opacity: 1; 
  text-align: right;
  color: #242424 !important;
}

:-ms-input-placeholder {
  text-align: right;
  color: #242424 !important;
}

::-ms-input-placeholder {
  text-align: right;
  color: #242424 !important;
}

.code-block {
  margin: 0px !important;
}

.nav-next, .nav-previous {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: center;
}

.nav-next a, .nav-previous a {
  text-decoration: none;
}

.ad-inserter {
  width: 100%;
  display: block;
  text-align: center;
  margin: 96px 0;
}

.ad-inserter p, .post .entry-content .ad-inserter p {
  font-size: 24px;
  line-height: 48px;
}

.ad-inserter iframe {
  display: block;
  margin: auto;
}

i {
  font-style: italic;
}

/* post */

.post .components-post-title a {
  text-decoration: none;
}

.single .post .components-post-title a {
  color: #ffffff;
}

.single .post .components-post-title a {
  color: #ffffff;
  display: block;
  text-decoration: none;
}

.single .post .components-post-title a h1 span {
  background: green;
}

.post .site-meta {
  width: 100%;
  display: inline-block;
}

.post .site-p {
  display: block;
  float: left;
  font-size: 18px;
  line-height: 48px;
}

.post .search-input {
  display: block;
  float: right;
}

.post .search-input input {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  font-size: 24px;
  line-height: 48px;
}

.post .entry-title {
  width: 100%;
  font-size: 96px;
  line-height: 96px;
  display: block;
  text-align: left;
}

.post .components-post-author {
  font-size: 24px;
  line-height: 48px;
  display: block;
  width: 100%;
  float: left;
}

.post .copy_Link input {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  font-size: 24px;
  line-height: 48px;
}

.post .subtitle {
  width: 100%;
  font-size: 36px;
  line-height: 48px;
  display: block;
  text-align: right;
}


.post .subtitle span {
  background: #fcffef;
}

.post .excerpt {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: right;
  color: #6b6b6b;
}

.post .entry-date {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: right;
}

.post .entry-views {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: right;
}

.post .entry-cats {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: right;
}

.post .entry-tags {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: right;
}

.post .components-post-thumbnail {
  width: 100%;
  display: block;
}

.post .components-post-thumbnail img {
  width: auto;
  max-width: 100%;
  display: block;
  margin: auto;
}

.post .entry-content p {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 48px;
}

.site-link-right {
  font-size: 18px;
  line-height: 48px;
  display: block;
  text-align: right;
  float: left;
  margin-left: 18px;
}

/* responsive */

/**
 * desktop/tablet
*/
@media screen and (min-width: 1000px) {

  .post .entry-content p {
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-right: 24px;
  }

  .front-end .searchContainer {
    display: block;
    max-width: 1000px;
    margin: auto;
  }
  
  .front-end .site-main {
    display: block;
    max-width: 1000px;
    margin: auto;
  }

  .front-end .entry-thumbnail-bg img {
    max-height: 100vh;
  }

}

/**
 * phone
*/
@media screen and (max-width: 1000px) {

  .front-end .entry-thumbnail-bg img {
    min-width: -webkit-fill-available;
    min-height: auto;
    height: auto;
  }

  /* ui switches */
  #body.ui_switch_search_true.front-end .site-p {
  
  }

  #body.ui_switch_search_true.front-end .search-input {
  
  }

}

/* jetpack */
#infinite-footer {
  display: none !important;
  position: relative !important;
}

.infinite-loader {
  display: none !important;
  clear: both;
  background: #ff0052 !important;
}

div.spinner {
  display: none !important;
}

.post .wp-block-embed {
  margin-bottom: 0;
}

.post .wp-block-embed iframe {
  display: block;
  margin: auto;
}

.post .wp-block-embed figcaption {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 24px;
  line-height: 48px;
}

/* style */

.ad-inserter iframe {
  border: 12px solid #242424;
}