    #element_ol_firebase_library > li {
      counter-increment: item;
      position: relative;
      float: left;
    };

    #element_ol_firebase_library > li:after {
      position: absolute;
      left: -.5vh;
      top: -.5vh;
      padding: 1vh;
      content: counter(item);
      border-radius: 100%;
      color: $yellow;
      width: 2.5vh;
      height: 2.5vh;
      line-height: 2.5vh;
      font-size: 2vh;
      text-align: center;
      display: inline-block;
      background: $yellow;
      border: 0.1vh solid $yellow;      
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: 1;
    };

    #element_ol_firebase_library > li:before {
      position: absolute;
      left: 0vh;
      top: 0vh;
      padding: 1vh;
      content: '';
      border-radius: 100%;
      color: $yellow;
      width: 2.5vh;
      height: 2.5vh;
      line-height: 2.5vh;
      font-size: 2vh;
      text-align: center;
      display: inline-block;
      background: $yellow;
      opacity: .1;
      z-index: 1;
    }

.full ol > li {
  width: 100%;

  #post_block_1 {
    width: 100%;
    height: 25vh;
    float: left;
  };

  #post_block_2 {
    width: 100%;
    float: left;
  };

}

.grid ol > li {
	width: 50%;
	float: left;

  #post_component {
    width: calc(100% - 5vh);
    margin: 2.5vh;
    box-shadow: 0vh 1vh rgba(35, 56, 55, 0.1);
    background: $dark_yellow_1;
    border-radius: 1vh;
  }

  #post_block_1 {
    width: calc(100% - 5vh);
    padding: 1.25vh;
    box-shadow: 0vh 1vh rgba(35, 56, 55, 0.1);
    border: 1.25vh solid $yellow; 
    border-radius: 1vh;
    height: 25vh;
    float: left;
  };

  #post_block_2 {
    width: calc(100% - 5vh);
    padding: 2.5vh;
    float: left;
  };

}

.list ol > li {
	width: 100%;
  clear: left;

  #post_block_1 {
    width: 25%;
    height: 25vh;
    float: left;
  };

  #post_block_2 {
    width: 75%;
    float: left;
  };

}

.thumbs ol > li {
  width: 25%;
  float: left;

  #post_block_1 {
    width: 100%;
    height: 25vh;
    float: left;
  };

  #post_block_2 {
    width: 100%;
    float: left;
  };
}

.card ol > li {
	width: 33%;
	float: left;

  #post_block_1 {
    width: 100%;
    height: 25vh;
    float: left;
  };

  #post_block_2 {
    width: 100%;
    float: left;
  };
}

.card ol > li:nth-child(3n + 1) {
  width: 33%;
  position: relative;
  float: left;
  clear: left;
}

.card ol > li:nth-child(3n + 2) {
  width: 33%;
  position: relative;
  float: left;
  margin: 0% .5% 0;
}

.card ol > li:nth-child(3n + 3) {
  width: 33%;
  position: relative;
  float: left;
}