
.gui_link_home_white {
    background: url("./assets/gui/gui_link_home_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_gear_white {
    background: url("./assets/gui/gui_link_gear_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_house_white {
    background: url("./assets/gui/gui_link_house_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_close_white {
    background: url("./assets/gui/gui_link_close_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_min_white {
    background: url("./assets/gui/gui_link_min_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_max_white {
    background: url("./assets/gui/gui_link_max_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_dots_white {
    background: url("./assets/gui/gui_link_dots_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_interaction_button_1 {
    background: url("./assets/gui/gui_interaction_button_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_stage_tv {
    background: url("./assets/gui/gui_stage_tv.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_stage_lights {
    background: url("./assets/gui/gui_stage_lights.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_stage_desk {
    background: url("./assets/gui/gui_stage_desk.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character {
    background: url("./assets/gui/gui_character.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.gui_character_face {
    background: url("./assets/gui/gui_character_face.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_input_1 {
text-align: center;
    background: url("./assets/gui/gui_input_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gui_input_2 {
text-align: center;
    background: url("./assets/gui/gui_input_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gui_logo_mark {
    background: url("./assets/gui/gui_logo_mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_mark_1 {
    background: url("./assets/gui/gui_logo_mark_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_mark_2 {
    background: url("./assets/gui/gui_logo_mark_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_mark_3 {
    background: url("./assets/gui/gui_logo_mark_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_mark_4 {
    background: url("./assets/gui/gui_logo_mark_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_type {
    background: url("./assets/gui/gui_logo_type.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_mark_1 {
    background: url("./assets/gui/gui_logo_white_mark_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_mark_2 {
    background: url("./assets/gui/gui_logo_white_mark_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_mark_3 {
    background: url("./assets/gui/gui_logo_white_mark_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_mark_4 {
    background: url("./assets/gui/gui_logo_white_mark_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_type {
    background: url("./assets/gui/gui_logo_white_type.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_nav_logo_type {
    background: url("./assets/gui/gui_nav_logo_type.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_nav_logo_white_type {
    background: url("./assets/gui/gui_nav_logo_white_type.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

// accent

.accent_noise_1 {
    background: url("./assets/accent/noise_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_2 {
    background: url("./assets/accent/noise_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_3 {
    background: url("./assets/accent/noise_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.accent_noise_4 {
    background: url("./assets/accent/noise_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_white_1 {
    background: url("./assets/accent/noise_white_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_white_2 {
    background: url("./assets/accent/noise_white_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_white_3 {
    background: url("./assets/accent/noise_white_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.accent_noise_white_4 {
    background: url("./assets/accent/noise_white_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}