article:nth-child(odd) {
  background: #f5f5f5;
}

article:nth-child(even) {
  background: #f9f9f9;
}

article {
	border-bottom: 1px solid #000;
}

img {
	width: 48px;
	height: 48px;
}

a {
	text-decoration: none;
}

body {
	text-align: center;
	width: 100vw;
	overflow-x: hidden;
	position: relative;
}

.single .post-container h2 {
	text-align: left;
	max-width: 500px;
	margin: 48px auto;
}

.single .post-container p {
	text-align: left;
	max-width: 500px;
	margin: 0 auto 48px;
}

.single .post-container {
    max-width: : 100vh;
}

.single .subtitle {
	font-size: 48px;
	line-height: 48px;
	max-width: 500px;
	margin: 48px auto;
}
.single .excerpt {
	font-size: 48px;
	line-height: 48px;
	max-width: 500px;
	margin: 48px auto;	
}

.single .post-container iframe {
    max-width: : 100vh;
}

.single .post-container img{
	width: auto;
    height: auto;
    max-height: 50vh;
    display: block;
    margin: auto;
}

.entry-thumbnail-bg img {
	width: auto;
	height: auto;
    max-height: 50vh;
    display: block;
    margin: auto;
}

.thumbnail-bg {
	width: 48px;
	height: 48px;
}

.author-details-background-image {
	width: 48px;
	height: 48px;
}


.author-details-background-image img {
	width: auto;
	height: auto;
	max-width: 48px;
	max-height: 48px;
}

h1 {
	font-size: 96px;
	line-height: 96px;
	margin: auto;
}

h1 .brand {
	font-size: 96px;
	line-height: 96px;
	margin: auto;
}

h1 .dotcom {
	font-size: 24px;
}


h2 .brand {
	font-size: 48px;
	line-height: 96px;
	margin: auto;
}

h2 .dotcom {
	font-size: 24px;
}

.home .site-tagline {
	font-size: 24px;
}

.site-tagline {
	font-size: 12px;
	line-height: 48px;
}

h2 {
	font-size: 36px;
	line-height: 36px;
	margin: auto;
}

p {
	font-size: 24px;
	line-height: 24px;
}

.components-post-info-preview .excerpt p {
	font-size: 12px;
	line-height: 24px;
}

.entry-subtitle p {
	font-size: 36px;
	line-height: 36px;
    font-style: italic;
    opacity: .5;
}


.entry-subtitle span span {
    font-style: bold;
}

.entry-excerpt p {
	border-bottom: 1px solid #000;
}

.components-post-author a, .entry-tags-container a, .entry-cats-container a, .edit a, .subtitle, .entry-date, .entry-views, .nickname, .copy_Link input, .copy_Link button, .ui_menu_2_hover {
	font-size: 24px;
	line-height: 24px;
}

.search_menu {
	display: flex;
}

.search_menu form {
	width: -webkit-fill-available;
}

.home .search_menu #search {
	font-size: 24px;
}

.search_menu #search {
	margin: auto;
	padding: 0;
	width: -webkit-fill-available;
	border: none;
	line-height: 48px;
	font-size: 12px;
}

.home .search_menu #search input[type="text" i] {
	font-size: 24px;
	text-align: center;
}

.search_menu #search input[type="text" i] {
	font-size: 12px;
	text-align: center;
}

.copy_Link {
	display: flex;
}

.copy_Link input {
	border: none;
	width: -webkit-fill-available;
	text-align: center;
	background: none;
    font-style: italic;
}

.copy_Link button {
	border: none;
	border-radius: 0px;
}

textarea:focus, input:focus{
    outline: none;
    width: -webkit-fill-available;
	text-align: center;
	box-shadow: none;
}

#body.ui_switch_search_true textarea:focus, #body.ui_switch_search_true input:focus{
  	background-color: #ffed00 !important;
}

button:focus{
    outline: none;
	box-shadow: none;
  	background-color: #ffed00 !important;
}

::placeholder {
  opacity: 1; 
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

::-ms-input-placeholder {
  text-align: center;
}

/* ad inserter */

.single .ad-insert {
    margin: 48px auto !important;
}

.ad-insert {
    margin: 128px auto !important;
    width: 100%;
    clear: both;
    display: inline-flex;
}

.ad-insert iframe {
	margin: auto;
	width: 100%;
	clear: both;
	max-width: 980px;
	padding: 10px;
}

/* jetpack */

#infinite-footer {
	display: none !important;
	position: relative !important;
}

.infinite-loader {
	display: none !important;
	clear: both;
	background: #ff0052 !important;
}

div.spinner {
	display: none !important;
}

/* center embeds */

.wp-block-embed {
	margin-bottom: 0 !important;
}

.wp-block-embed__wrapper {
	display: flex;
}

.wp-block-embed__wrapper iframe, .fb_iframe_widget, .twitter-tweet, .embedly-card {
	margin: auto !important;
}

.wp-block-embed-spotify iframe {
	max-width: 548px !important;
}

/* responsive */

/**
 * desktop/tablet
*/
@media screen and (min-width: 1000px) {

}

/**
 * phone
*/
@media screen and (max-width: 1000px) {

	body {
		width: 100vw;
		overflow-x: hidden;
	}

}

#body.ui_switch_search_true article {
	display: none;
}

#body.ui_switch_search_true .searching_menu {
}

#body.ui_switch_search_false .searching_menu {
	display: none;
}