.bg_pink, .bg_pink_hover:hover {
  background: $pink;
}

.bg_blue, .bg_blue_hover:hover {
  background: $blue;
}

.bg_green, .bg_green_hover:hover {
  background: $green;
}

.bg_purple, .bg_purple_hover:hover {
  background: $purple;
}

.bg_orange, .bg_orange_hover:hover {
  background: $orange;
}

.bg_yellow, .bg_yellow_hover:hover {
  background: $yellow;
}


// BGS

.bg_white, .bg_white_hover:hover {
  background: $white;
}

.bg_black, .bg_black_hover:hover {
  background: $black;
}



// light yellow
.bg_light_yellow_1, .bg_light_yellow_1_hover:hover {
  background: $light_yellow_1;
}
.bg_light_yellow_2, .bg_light_yellow_2_hover:hover {
  background: $light_yellow_2;
}
.bg_light_yellow_3, .bg_light_yellow_3_hover:hover {
  background: $light_yellow_3;
}
.bg_light_yellow_4, .bg_light_yellow_4_hover:hover {
  background: $light_yellow_4;
}
.bg_light_yellow_5, .bg_light_yellow_5_hover:hover {
  background: $light_yellow_5;
}
.bg_light_yellow_6, .bg_light_yellow_6_hover:hover {
  background: $light_yellow_6;
}
.bg_light_yellow_7, .bg_light_yellow_7_hover:hover {
  background: $light_yellow_7;
}
.bg_light_yellow_8, .bg_light_yellow_8_hover:hover {
  background: $light_yellow_8;
}
.bg_light_yellow_9, .bg_light_yellow_9_hover:hover {
  background: $light_yellow_9;
}

// dark yellow
.bg_dark_yellow_1, .bg_dark_yellow_1_hover:hover {
  background: $dark_yellow_1;
}
.bg_dark_yellow_2, .bg_dark_yellow_2_hover:hover {
  background: $dark_yellow_2;
}
.bg_dark_yellow_3, .bg_dark_yellow_3_hover:hover {
  background: $dark_yellow_3;
}
.bg_dark_yellow_4, .bg_dark_yellow_4_hover:hover {
  background: $dark_yellow_4;
}
.bg_dark_yellow_5, .bg_dark_yellow_5_hover:hover {
  background: $dark_yellow_5;
}
.bg_dark_yellow_6, .bg_dark_yellow_6_hover:hover {
  background: $dark_yellow_6;
}
.bg_dark_yellow_7, .bg_dark_yellow_7_hover:hover {
  background: $dark_yellow_7;
}
.bg_dark_yellow_8, .bg_dark_yellow_8_hover:hover {
  background: $dark_yellow_8;
}
.bg_dark_yellow_9, .bg_dark_yellow_9_hover:hover {
  background: $dark_yellow_9;
}

// light pink
.bg_light_pink_1, .bg_light_pink_1_hover:hover {
  background: $light_pink_1;
}
.bg_light_pink_2, .bg_light_pink_2_hover:hover {
  background: $light_pink_2;
}
.bg_light_pink_3, .bg_light_pink_3_hover:hover {
  background: $light_pink_3;
}
.bg_light_pink_4, .bg_light_pink_4_hover:hover {
  background: $light_pink_4;
}
.bg_light_pink_5, .bg_light_pink_5_hover:hover {
  background: $light_pink_5;
}
.bg_light_pink_6, .bg_light_pink_6_hover:hover {
  background: $light_pink_6;
}
.bg_light_pink_7, .bg_light_pink_7_hover:hover {
  background: $light_pink_7;
}
.bg_light_pink_8, .bg_light_pink_8_hover:hover {
  background: $light_pink_8;
}
.bg_light_pink_9, .bg_light_pink_9_hover:hover {
  background: $light_pink_9;
}

// dark pink
.bg_dark_pink_1, .bg_dark_pink_1_hover:hover {
  background: $dark_pink_1;
}
.bg_dark_pink_2, .bg_dark_pink_2_hover:hover {
  background: $dark_pink_2;
}
.bg_dark_pink_3, .bg_dark_pink_3_hover:hover {
  background: $dark_pink_3;
}
.bg_dark_pink_4, .bg_dark_pink_4_hover:hover {
  background: $dark_pink_4;
}
.bg_dark_pink_5, .bg_dark_pink_5_hover:hover {
  background: $dark_pink_5;
}
.bg_dark_pink_6, .bg_dark_pink_6_hover:hover {
  background: $dark_pink_6;
}
.bg_dark_pink_7, .bg_dark_pink_7_hover:hover {
  background: $dark_pink_7;
}
.bg_dark_pink_8, .bg_dark_pink_8_hover:hover {
  background: $dark_pink_8;
}
.bg_dark_pink_9, .bg_dark_pink_9_hover:hover {
  background: $dark_pink_9;
}