
// .1vh
.border_01vh_black, .border_01vh_black_hover:hover {
    border: 0.1vh solid $black;
};

.border_left_01vh_black, .border_left_01vh_black_hover:hover {
    border-left: 0.1vh solid $black;
};

.border_right_01vh_black, .border_right_01vh_black_hover:hover {
    border-right: 0.1vh solid $black;
};

.border_top_01vh_black, .border_top_01vh_black_hover:hover {
    border-top: 0.1vh solid $black;
};

.border_bottom_01vh_black, .border_bottom_01vh_black_hover:hover {
    border-bottom: 0.1vh solid $black;
};

// 1vh
.border_1vh_black, .border_1vh_black_hover:hover {
    border: 1vh solid $black;
};

.border_left_1vh_black, .border_left_1vh_black_hover:hover {
    border-left: 1vh solid $black;
};

.border_right_1vh_black, .border_right_1vh_black_hover:hover {
    border-right: 1vh solid $black;
};

.border_top_1vh_black, .border_top_1vh_black_hover:hover {
    border-top: 1vh solid $black;
};

.border_bottom_1vh_black, .border_bottom_1vh_black_hover:hover {
    border-bottom: 1vh solid $black;
};


// .1vh
.border_01vh_yellow, .border_01vh_yellow_hover:hover {
    border: 0.1vh solid $yellow;
};

.border_left_01vh_yellow, .border_left_01vh_yellow_hover:hover {
    border-left: 0.1vh solid $yellow;
};

.border_right_01vh_yellow, .border_right_01vh_yellow_hover:hover {
    border-right: 0.1vh solid $yellow;
};

.border_top_01vh_yellow, .border_top_01vh_yellow_hover:hover {
    border-top: 0.1vh solid $yellow;
};

.border_bottom_01vh_yellow, .border_bottom_01vh_yellow_hover:hover {
    border-bottom: 0.1vh solid $yellow;
};

// 1vh
.border_1vh_yellow, .border_1vh_yellow_hover:hover {
    border: 1vh solid $yellow;
};

.border_left_1vh_yellow, .border_left_1vh_yellow_hover:hover {
    border-left: 1vh solid $yellow;
};

.border_right_1vh_yellow, .border_right_1vh_yellow_hover:hover {
    border-right: 1vh solid $yellow;
};

.border_top_1vh_yellow, .border_top_1vh_yellow_hover:hover {
    border-top: 1vh solid $yellow;
};

.border_bottom_1vh_yellow, .border_bottom_1vh_yellow_hover:hover {
    border-bottom: 1vh solid $yellow;
};