
.gui_input_1 {
text-align: center;
    background: url("./assets/gui/gui_input_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gui_input_2 {
text-align: center;
    background: url("./assets/gui/gui_input_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gui_logo_mark {
    background: url("./assets/gui/gui_logo_mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_mark_1 {
    background: url("./assets/gui/gui_logo_mark_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_mark_2 {
    background: url("./assets/gui/gui_logo_mark_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_mark_3 {
    background: url("./assets/gui/gui_logo_mark_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_mark_4 {
    background: url("./assets/gui/gui_logo_mark_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_type {
    background: url("./assets/gui/gui_logo_type.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_mark_1 {
    background: url("./assets/gui/gui_logo_white_mark_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_mark_2 {
    background: url("./assets/gui/gui_logo_white_mark_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_mark_3 {
    background: url("./assets/gui/gui_logo_white_mark_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_mark_4 {
    background: url("./assets/gui/gui_logo_white_mark_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_type {
    background: url("./assets/gui/gui_logo_white_type.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_nav_logo_type {
    background: url("./assets/gui/gui_nav_logo_type.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_nav_logo_white_type {
    background: url("./assets/gui/gui_nav_logo_white_type.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

// accent

.accent_noise_1 {
    background: url("./assets/accent/noise_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_2 {
    background: url("./assets/accent/noise_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_3 {
    background: url("./assets/accent/noise_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.accent_noise_4 {
    background: url("./assets/accent/noise_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_white_1 {
    background: url("./assets/accent/noise_white_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_white_2 {
    background: url("./assets/accent/noise_white_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_white_3 {
    background: url("./assets/accent/noise_white_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.accent_noise_white_4 {
    background: url("./assets/accent/noise_white_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}