#uploaded_image_post {
	    display: block;
    background: #ffffff;
    height: 100vh;
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
    object-fit: cover;
    background-size: cover;
}
#amzn-assoc-ad-6e048fd2-5132-43d3-ab5e-29d7d79883fc {
		float: left;
};

.amazon {
		float: left;
		width: 100%;
	div {
		//width: 100%;
	}

	.amzn-native-container{
		max-width: 100% !important;
	}
	.amzn-native-header {
		margin-bottom: 0px !important;
	}
	.amzn-native-header-text {
		float: left;
		line-height: 6.25vw !important;
		font-size: 3.125vw !important;
		width: 100% !important;
		max-width: 100% !important;
		text-align: center !important;
	}
};

.info_scroll_x {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	position: relative;
	float: left;
}

.element_overflow_x_scene {
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
	position: relative;
	float: left;
	margin: auto;
	height: 100%;
	width: 100vw;
}
	
#buffer {
	width: 100%;
	position: relative;
	float: left;
    background: $grey;
}

#who {
	position: relative;
	float: left;
    background: $grey;
}

#what {
	position: relative;
	float: left;
    background: $grey;
}

#when {
	position: relative;
	float: left;
    background: $grey;
}

#where {
	position: relative;
	float: left;
    background: $grey;
}

#why {
	position: relative;
	float: left;
    background: $grey;
}

#how {
	position: relative;
	float: left;
    background: $grey;
}

body.dark {
	color: $white;
    background: $grey;
}

.center_top #vr_mg{
  transform: translate3d(-100%, 0, 0);
};

.top_left #vr_mg{
  transform: translate3d(0%, 0, 0);
};

.top_right #vr_mg{
  transform: translate3d(-200%, 0, 0);
};

.center #vr_mg{
  transform: translate3d(-100%, -100%, 0);
};

.center_left #vr_mg{
  transform: translate3d(0%, -100%, 0);
};

.center_right #vr_mg{
  transform: translate3d(-200%, -100%, 0);
};

.center_bottom #vr_mg{
  transform: translate3d(-100%, -200%, 0);
};

.bottom_left #vr_mg{
  transform: translate3d(0%, -200%, 0);
};

.bottom_right #vr_mg{
  transform: translate3d(-200%, -200%, 0);
};

// navs
#modal_nav_top {

	position: fixed;
	background: $grey;
	float: left;
	margin: auto;
	width: 100vw;
	height: 6.25vw;
	right:0;
	top:	-6.25vw;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_nav_top #modal_nav_top {
	right:0;
	top:0%;
	left:0;
}

#modal_nav_bottom {

	position: fixed;
	background: $grey;
	float: left;
	margin: auto;
	width: 100vw;
	height: 6.25vw;
	right:0;
	bottom:	-6.25vw;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_nav_bottom #modal_nav_bottom {
	right:0;
	bottom:0%;
	left:0;
}

#modal_nav_right {

	position: fixed;
	background: $grey;
	float: right;
	margin: auto;
	height: 100vh;
	width: 6.25vw;
	top:0;
	right:	-6.25vw;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_nav_right #modal_nav_right {
	top:0;
	right:0%;
	bottom:0;
}

#modal_nav_left {

	position: fixed;
	background: $grey;
	float: left;
	margin: auto;
	height: 100vh;
	width: 6.25vw;
	top:0;
	left:	-6.25vw;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_nav_left #modal_nav_left {
	top:0;
	left:0%;
	bottom:0;
}

// pops
#modal_pop_right {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	top:0;
	left:100%;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

	-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);

	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;

	.class_pop_right {

		position: relative;
		background: $white;
		float: left;
		margin: auto;
		width: calc(100vw - 25vw);
		height: calc(100vh - 25vw);
		z-index: 1;

		.container {
			width: calc(100% - 12.5vw);
			height: calc(100% - 12.5vw);
			padding: 6.25vw;

		}

	}

}

.modal_pop_right #modal_pop_right {
	top:0;
	left:0%;
	bottom:0;
}

#modal_pop_left {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	top:0;
	right:100%;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

	-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);

	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	
	.class_pop_left {

		position: relative;
		background: $white;
		float: left;
		margin: auto;
		width: calc(100vw - 25vw);
		height: calc(100vh - 25vw);
		z-index: 1;

		.container {
			width: calc(100% - 12.5vw);
			height: calc(100% - 12.5vw);
			padding: 6.25vw;

		}

	}

}

.modal_pop_left #modal_pop_left {
	top:0;
	right:0%;
	bottom:0;
}

#modal_pop_top {

	position: fixed;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	right:0;
	bottom:100%;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;

	.class_pop_top {

		position: relative;
		background: $white;
		float: left;
		margin: auto;
		width: calc(100vw - 25vw);
		height: calc(100vh - 25vw);
		z-index: 1;

		.container {
			width: calc(100% - 12.5vw);
			height: calc(100% - 12.5vw);
			padding: 6.25vw;

		}

	}

}

.modal_pop_top #modal_pop_top {
	right:0;
	bottom:0%;
	left:0;
}

#modal_pop_bottom {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	right:0;
	top:100%;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

	-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);

	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	
	.class_pop_bottom {

		position: relative;
		background: $white;
		float: left;
		margin: auto;
		width: calc(100vw - 25vw);
		height: calc(100vh - 25vw);
		z-index: 1;

		.container {
			width: calc(100% - 12.5vw);
			height: calc(100% - 12.5vw);
			padding: 6.25vw;

		}

	}
}

.modal_pop_bottom #modal_pop_bottom {
	right:0;
	top:0%;
	left:0;
}

//pages
#modal_page_right {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	top:0;
	left:100%;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

	-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);

	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.modal_page_right #modal_page_right {
	top:0;
	left:0%;
	bottom:0;
}

#modal_page_left {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	top:0;
	right:100%;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

	-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);
}

.modal_page_left #modal_page_left {
	top:0;
	right:0%;
	bottom:0;
}

#modal_page_top {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	right:0;
	bottom:100%;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;

}

.modal_page_top #modal_page_top {
	right:0;
	bottom:0%;
	left:0;
}

#modal_page_bottom {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	right:0;
	top:100%;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

	-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);
}

.modal_page_bottom #modal_page_bottom {
	right:0;
	top:0%;
	left:0;
}

// menus
#modal_menu_top {

	position: fixed;
	background: $grey;
	float: left;
	margin: auto;
	width: 100vw;
	height: 6.25vw;
	right:0;
	top:	-6.25vw;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_menu_top #modal_menu_top {
	right:0;
	top:0%;
	left:0;
}

#modal_menu_bottom {

	position: fixed;
	background: $grey;
	float: left;
	margin: auto;
	width: 100vw;
	height: 6.25vw;
	right:0;
	bottom:	-6.25vw;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_menu_bottom #modal_menu_bottom {
	right:0;
	bottom:0%;
	left:0;
}

#modal_menu_right {

	position: fixed;
	background: $grey;
	float: right;
	margin: auto;
	height: 100vh;
	width: 6.25vw;
	top:0;
	right:	-6.25vw;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_menu_right #modal_menu_right {
	top:0;
	right:0%;
	bottom:0;
}

#modal_menu_left {

	position: fixed;
	background: $grey;
	float: left;
	margin: auto;
	height: 100vh;
	width: 6.25vw;
	top:0;
	left:	-6.25vw;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_menu_left #modal_menu_left {
	top:0;
	left:0%;
	bottom:0;
}

.is_Mobile {
	
};

.is_Desktop.card #posts #post {
	position: relative;
	float: left;
	margin: auto;
	width: 33%;
};

.is_Desktop.card #posts #post:nth-child(3n+1) {
	clear: left;
};

.is_Desktop.card #posts #post:nth-child(3n+3) {
	clear: right;
};

.is_Desktop.numbered #posts #post {
	position: relative;
	float: left;
	margin: auto;
	width: 100%;
};

.is_Desktop.list #posts #post {
	position: relative;
	float: left;
	margin: auto;
	width: 50%;
};

.is_Desktop.read #posts #post {
	position: relative;
	float: left;
	margin: auto;
	width: 25%;
};

.is_Desktop.fifth #posts #post {
	position: relative;
	float: left;
	margin: auto;
	width: 20%;
};

.is_Desktop.sixth #posts #post {
	position: relative;
	float: left;
	margin: auto;
	width: 16.666%;
};

.is_Desktop.eighth #posts #post {
	position: relative;
	float: left;
	margin: auto;
	width: 12.5%;
};

#nav_1 {
	position: fixed;
	top: 0;
	left: 0;
	float: left;
	margin: auto;
	z-index: 2;
};

#nav_button_1_1, #nav_button_1_2, #nav_button_1_3, #nav_button_1_4 {
	position: relative;
	float: left;
	margin: auto;
	height: 6.25vw;
	width: 6.25vw;
	z-index: 2;
};

#nav_2 {
	position: fixed;
	top: 0;
	right: 0;
	float: left;
	margin: auto;
	z-index: 2;
};

#nav_button_2_1, #nav_button_2_2, #nav_button_2_3, #nav_button_2_4 {
	position: relative;
	float: left;
	margin: auto;
	height: 6.25vw;
	width: 6.25vw;
	z-index: 2;
};

#nav_3 {
	position: fixed;
	bottom: 0;
	left: 0;
	float: left;
	margin: auto;
	z-index: 2;
};

#nav_button_3_1, #nav_button_3_2, #nav_button_3_3, #nav_button_3_4 {
	position: relative;
	float: left;
	margin: auto;
	height: 6.25vw;
	width: 6.25vw;
	z-index: 2;
};

#nav_4 {
	position: fixed;
	bottom: 0;
	right: 0;
	float: left;
	margin: auto;
	z-index: 2;
};

#nav_button_4_1, #nav_button_4_2, #nav_button_4_3, #nav_button_4_4 {
	position: relative;
	float: left;
	margin: auto;
	height: 6.25vw;
	width: 6.25vw;
	z-index: 2;
};

.is_Desktop {

};
