body {
  background: #ffffff;
  width: 100%;
}

/* header */
.header {
  display: flex;
  max-width: 1000px;
  margin: auto;
}

.site-name h1 {
  font-size: 48px;
  line-height: 96px;
  margin: 0;
  padding: 0;
}

.site-name h2 {
  font-size: 36px;
  line-height: 48px;
  margin: 0;
  padding: 0;
}

.search-input {
  display: -webkit-inline-box;
  height: 48px;
}

.home .search-input {
  display: -webkit-inline-box;
  height: 96px;
}

.ui-focus-search {
  font-size: 24px;
  line-height: 48px;
  padding: 0 24px;
}

.home .ui-focus-search {
  font-size: 24px;
  line-height: 96px;
}

.searchform {
  margin: auto;
}

/* page */
.page-title {
  display: flex;
  max-width: 1000px;
  margin: auto;
}

.category .page-title {
  font-size: 24px;
  line-height: 96px;
  color: #888888;
}

.tag .page-title {
  font-size: 24px;
  line-height: 96px;
  color: #888888;
}

/* post */
.post-preview {
  display: flex;
  max-width: 1000px;
  margin: auto;
}

.post-single {
  display: block;
  max-width: 1000px;
  margin: auto;
}

.post-single .post-thumbnail {
  width: 100%;
}

.post-thumbnail a {
  width: 100%;
}

.post-thumbnail-img {
  width: 100%;
}

.post-thumbnail img {
  width: 100%;
}

.post-info .post-title h1 {
  line-height: 96px;
  font-size: 48px;
  margin: auto;
}

.post-info .post-title h2 {
  font-size: 36px;
  line-height: 48px;
  margin: auto;
}

.post-info {

}

.post-info p {
  font-size: 24px;
  line-height: 48px;
}

.post-info h1 {
  line-height: 96px;
  font-size: 48px;
}

.post-info h2 {
  line-height: 48px;
  font-size: 24px;
}

.categories {
  font-size: 24px;
  line-height: 48px;
  margin: auto;
}

.tags {
  font-size: 24px;
  line-height: 48px;
  margin: auto;
}

.subtitle {
  font-size: 24px;
  line-height: 48px;
}

.excerpt {
  font-size: 24px;
  line-height: 48px;
}

.date {
  font-size: 24px;
  line-height: 48px;
}

/* embed */

.post .wp-block-embed {
  margin-bottom: 0;
}

.post .wp-block-embed iframe, .twitter-tweet, .wp-block-embed-instagram {
  display: block;
  margin: auto !important;
  max-width: 480px !important;
}

.post .wp-block-embed figcaption {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 24px;
  line-height: 48px;
}

.wp-block-image img {
  height: auto;
}

/* ads */

.code-block {
  margin: 0px !important;
}

.ad-inserter {
  width: 100%;
  display: block;
  text-align: center;
  margin: 96px 0;
}
.ad-inserter iframe {
  border: 12px solid #242424;
  max-width: calc(100% - 24px);
}

.ad-inserter-half {
  width: 50%;
}

.ad-inserter-container {
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
}

.ad-inserter-center {
  width: 100%;
}

.ad-inserter p, .post .entry-content .ad-inserter p {
  font-size: 24px;
  line-height: 48px;
}

.ad-inserter iframe {
  display: block;
  margin: auto;
}

/* input */

::placeholder {
  opacity: 1; 
  text-align: right;
  color: #242424 !important;
}

:-ms-input-placeholder {
  text-align: right;
  color: #242424 !important;
}

::-ms-input-placeholder {
  text-align: right;
  color: #242424 !important;
}

/* jetpack */
#infinite-footer {
  display: none !important;
  position: relative !important;
}

.infinite-loader {
  display: none !important;
  clear: both;
  background: #ff0052 !important;
}

/* spinner */

div.spinner {
  display: none !important;
}

.nav-next, .nav-previous {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: center;
}

.nav-next a, .nav-previous a {
  text-decoration: none;
}

/* unvisited link */
.front-end a:link {
  color: green;
}

/* visited link */
.front-end a:visited {
  color: green;
}

/* mouse over link */
.front-end a:hover {
  color: red;
}

/* selected link */
.front-end a:active {
  color: yellow;
}

/* list */
ol, ul, li {
    line-height: 48px;
    font-size: 24px;
    margin: 0;
}

/*
ol, ul, li {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

*/

/* desktop/tablet */
@media screen and (min-width: 1000px) {
  
}

/* phone */
@media screen and (max-width: 1000px) {

}

/* styling */
.post-thumbnail {
    width: 48px;
    height: 48px;
    overflow: hidden;
}

/* javascript */
.site-search {
  display: none;
}

.ui_switch_searchform_true .site-search {
  display: block;
}