//01

//dark
.text_shadow_01vh_dark {
    text-shadow: 0.1vh 0.1vh rgba(35, 56, 55, 0.5);
}

.text_shadow_02vh_dark {
    text-shadow: 0.2vh 0.2vh rgba(35, 56, 55, 0.5);
}

.text_shadow_025vh_dark {
    text-shadow: 0.25vh 0.25vh rgba(35, 56, 55, 0.5);
}

.text_shadow_03vh_dark {
    text-shadow: 0.3vh 0.3vh rgba(35, 56, 55, 0.5);
}

.text_shadow_04vh_dark {
    text-shadow: 0.4vh 0.4vh rgba(35, 56, 55, 0.5);
}

.text_shadow_05vh_dark {
    text-shadow: 0.5vh 0.5vh rgba(35, 56, 55, 0.5);
}

.text_shadow_07vh_dark {
    text-shadow: 0.7vh 0.7vh rgba(35, 56, 55, 0.5);
}

.text_shadow_075vh_dark {
    text-shadow: 0.75vh 0.75vh rgba(35, 56, 55, 0.5);
}

.text_shadow_08vh_dark {
    text-shadow: 0.8vh 0.8vh rgba(35, 56, 55, 0.5);
}

.text_shadow_09vh_dark {
    text-shadow: 0.9vh 0.9vh rgba(35, 56, 55, 0.5);
}

.text_shadow_1vh_dark {
    text-shadow: 1vh 1vh rgba(35, 56, 55, 0.5);
}

// yellow
.text_shadow_01vh_yellow {
    text-shadow: 0.1vh 0.1vh $yellow;
}

.text_shadow_025vh_yellow {
    text-shadow: 0.25vh 0.25vh $yellow;
}

.text_shadow_05vh_yellow {
    text-shadow: 0.5vh 0.5vh $yellow;
}

.text_shadow_1vh_yellow {
    text-shadow: 1vh 1vh $yellow;
}
