/* style */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

#feature_1by2 {

}

#feature_1by2 .components-post-title-thumbnail {
  margin-bottom: 10px;
}

#feature_3by1 {
  margin-bottom: 10px;

}

#feature_3by1 .components-post-title-thumbnail {
}

#feature_1by4 {

}

#feature_1by4 .components-post-title-thumbnail {
  margin-bottom: 10px;
}

#feature_4by4 {

}

#feature_4by4 .components-post-title-thumbnail {
  margin-bottom: 10px;
}

#feature_7by1 {

}

#feature_7by1 .components-post-title-thumbnail {
  margin-bottom: 10px;
}

body {
  font-family: 'Merriweather', serif;
	position: relative;
	width: 100vw;
	overflow-x: hidden;
}

.width_100_iphone {
}

.width_64 {
  width: 64%;
}

.width_36 {
  width: 36%;
}

.width_50 {
  width: 50%;
}

.width_33 {
  width: 33%;
}

.max-width_50 {
  max-width: 50%;
}


/* style */

h2 {
  word-break: break-all;
}

a.site-name h1, a.site-name {
  color: #ffffff;
  font-size: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  letter-spacing: -1px;
  -webkit-text-stroke: 1px #000000;
  margin: auto;
  text-decoration: none;
}

a.site-name h2 {
  font-size: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  letter-spacing: -1px;
  -webkit-text-stroke: 1px #000000;
  margin: auto;
}

.site-tagline {
  font-size: 20px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  letter-spacing: -1px;
  -webkit-text-stroke: 1px #000000;
  margin: auto;
}

.site-main {
  margin: auto;
}

.branding {
  padding: 40px;
}

.branding .menu {
  padding-top: 10px;
}

.feature {
  width: 100%;
  min-height: 400px;
  max-width: 1000px;
  margin: auto;
}

.feature a.site-name h2 {
  font-size: 80px;
  line-height: 80px;
  color: #ffffff;
}
.feature a {
  text-decoration: none;
}

.feature .components-post-title-thumbnail a h2 {
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.feature .site-tagline {
  color: #000000
}

.menu {
  display: flex;
}

.flex {
  display: flex;
}

.margin_0 {
  margin: auto;
}

.left {
  float: left;
}

.searchform {
  margin: auto;
}

.flat {
	width: 100%;
	clear: both;
}

.split {
  float: left;
}

.post {
  width: 100%;
  float: left;
	border-bottom: 1px solid #000000;
}

.post .container {
  width: calc(100% - 20px);
  margin: auto;
  padding: 10px;
}

.single .post {
	min-height: 100vh;
  margin-bottom: 20px;
}

#infinite-footer {
	display: none !important;
	position: relative !important;
}

.author-details-background-image {
	float: left;
	width: 12px;
	height: 12px;
	background-size: cover;
	background-position: center;
}
.author-details {
	float: left;
}

.subtitle {
	float: left;
}

.summary {
	float: left;
}

.formats {
	float: left;
}

.entry-date {
	float: left;
}

.entry-views {
	float: left;
    margin: 0px 0px 0px 5px;
}

.more {
	float: left;
}

.edit {
	float: left;
}

.entry-thumbnail-bg {
  position: relative;
  width: 100%;
  min-height: 400px;
  margin: auto;
  overflow: hidden;
}

.entry-thumbnail-bg h2 {
  font-size: 40px;
}

.thumbnail-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
	border: 1px solid #000000;
}

.entry-thumbnail-bg .bordered {
	position: relative;
	float: left;
	margin: 10px;
	background: #ffffff;
	color: #000000;
	border: 1px solid #000000;
	padding: 10px;
}

.entry-author-background-image {
	width: 12px;
	height: 12px;
	background-size: cover;
	background-position: center;
}

.comment-author img {
	width: 12px;
	height: 12px;
	background-size: cover;
	background-position: center;
}

body{
	background: #fafafa;
	width: 100%;
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
}

img {
	width: 100%;
	height: auto;
}

.entry-content p {
  width: calc(100% - 20px);
  margin: auto;
  padding: 10px;
}

.code-block, .code-block-ad-inserter {
  width: calc(100% - 20px);
  height: auto;
  margin: auto !important;
  padding: 10px;
}

.code-block-ad-inserter iframe, .code-block iframe {
  width: calc(100%);
  margin: auto !important;
}

#infinite-footer {
	display: none !important;
	position: relative !important;
}

.infinite-loader {
	background: #ff0052 !important;
}

div.spinner {
	background: #000000 !important;
}

.wp-block-embed__wrapper {
	display: flex;
}

.wp-block-embed__wrapper iframe, .fb_iframe_widget, .twitter-tweet, .embedly-card {
	margin: auto !important;
}

.wp-block-embed-spotify iframe {
	max-width: 540px !important;
}

.entry-content > div > a {
	background: #000000;
}

.wppb-send-credentials-checkbox {
	display: none;
}

.cn-close-icon {
  display: none;
}

#cookie-notice .cn-button {

  font-family: 'Merriweather', serif !important;
  font-size: 12px !important;
}

#cookie-notice {
  background: #ffffff;
  font-family: 'Merriweather', serif !important;
  font-size: 12px !important;
}

#cookie-notice .cn-button {
  color: #000000;
  background: #ffffff;
  font-family: inherit;
}

#cn-accept-cookie {
  color: #ffffff;
  background: #000000;
  font-family: inherit;
}

.cookie-notice-container {
  border: 1px solid #000000;
}

.cn-text-container {
	margin: auto !important;
}

/* responsive */

/**
 * desktop/tablet
*/
@media screen and (min-width: 1000px) {
  .site-main {
    max-width: 1000px;
    margin: auto;
  }


  .home .post:nth-child(1) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(1) .component-title-author-1 h2.entry-title a {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -1px;
  }

  .home .post:nth-child(2) {
    width: 33.33333%;
    float: left;
  }

  .home .post:nth-child(3) {
    width: 33.33333%;
    float: left;
  }

  .home .post:nth-child(4) {
    width: 33.33333%;
    float: left;
    clear: right;
  }

  .home .post:nth-child(5) {
    width: 50%;
    float: left;
    clear: left;
  }

  .home .post:nth-child(6) {
    width: 50%;
    float: left;
  }

  .home .post:nth-child(7) {
    width: 50%;
    float: left;
  }

  .home .post:nth-child(8) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(8) .entry-thumbnail-bg {
    width: 50%;
    float: left;
  }

  .home .post:nth-child(8) .post-info {
    width: 50%;
    float: left;
  }

  .home .post:nth-child(9) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(9) .entry-thumbnail-bg {
    width: 50%;
    float: right;
  }

  .home .post:nth-child(9) .post-info {
    width: 50%;
    float: left;
  }


  .home .post:nth-child(10) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(10) .entry-thumbnail-bg {
    width: 25%;
    float: left;
  }

  .home .post:nth-child(10) .post-info {
    width: 75%;
    float: left;
  }

  .home .post:nth-child(11) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(11) .entry-thumbnail-bg {
    width: 25%;
    float: right;
  }

  .home .post:nth-child(11) .post-info {
    width: 75%;
    float: left;
  }

  .home .post:nth-child(12) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(12) .entry-thumbnail-bg {
    width: 25%;
    float: left;
  }

  .home .post:nth-child(12) .post-info {
    width: 75%;
    float: left;
  }

  .home .post:nth-child(13) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(13) .entry-thumbnail-bg {
    width: 25%;
    float: right;
  }

  .home .post:nth-child(13) .post-info {
    width: 75%;
    float: left;
  }

}

/**
 * phone
*/
@media screen and (max-width: 1000px) {
  .width_100_iphone {
    width: 100%;
    max-width: 100%;
  }

  .site-main {
    max-width: 100%;
    margin: auto;
  }

  .post {
    margin-bottom: 20px;
  }
}

/**********************END*********************/

.outside-image {

  width: 48px;
  height: 48px;
}

.author_info {
  font-size: 12px;
  line-height: 12px;
}

.more {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  float: left;
  padding: 0 5px;
  margin: 5px;
  border: 1px solid #000000;
  text-decoration: none;
}

.entry-date-views {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  float: left;
  padding: 0 5px;
  margin: 5px;
  border: 1px solid #000000;
  text-decoration: none;
}

.is_sticky {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  float: left;
  padding: 0 5px;
  margin: 5px;
  border: 1px solid #000000;
  text-decoration: none;
}

.entry-js {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    float: left;
    padding: 0 5px;
    margin: 5px;
    border: 1px solid #000000;
    text-decoration: none;
  }

.entry-sponsored {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    float: left;
    padding: 0 5px;
    margin: 5px;
    border: 1px solid #000000;
    text-decoration: none;
  }

  .entry-cats a {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    float: left;
    padding: 0 5px;
    margin: 5px;
    border: 1px solid #000000;
    text-decoration: none;
  }

.entry-tags a {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    float: left;
    padding: 0 5px;
    margin: 5px;
  }