body {
  background: #f5f4ef;
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100vw;
  width: -webkit-fill-available;
  height: auto;
}

iframe {
  max-width: 100vw;
  width: -webkit-fill-available;
  height: auto;
}

h1 {
  font-size: 48px;
  line-height: 96px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  line-height: 96px;
  margin: 0;
  padding: 0;
}

.header {
  max-width: 1000px;
  margin: auto;
}

.post-thumbnail {
  display: inline-block;
  line-height: 0;
}

.post-thumbnail img {
  height: 48px;
  width: 48px;
  margin: auto;
}

.site-name h1 {

}

.header-flex {
  height: 96px;
  width: 100%;
}

.header-links {
  float: left;
}

.search-input {
  float: right;
  display: -webkit-inline-box;
  height: 96px;
}

.searchform {
  margin: auto;
}

.post-container {
  max-width: 1000px;
  margin: auto;
}

.post-preview {
  display: -webkit-inline-box;
}

.post-single {
}

.post-info {
  max-width: 1000px;
  margin: auto;
}

.post-info p {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.post-info .content p {
  margin: 0 0 24px;
}

.post-info .content p a {
  text-decoration: none;
  font-weight: bold;
}

.post-info .post-title h1 {
  font-size: 48px;
  line-height: 96px;
  margin: 0;
  padding: 0;
}

.post-info .post-title h2 {
  font-size: 48px;
  line-height: 96px;
  margin: 0;
  padding: 0;
}

.post-info .subtitle p {
  font-size: 48px;
  line-height: 96px;
  margin: 0;
  padding: 0;
}

.post-info .excerpt p {
  font-size: 36px;
  line-height: 96px;
  margin: 0;
  padding: 0;
}

.post-info .date p {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.post-info .categories {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.post-info .tags {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}


/* embeds */

.post .wp-block-embed {
  margin-bottom: 0;
}

.post .wp-block-embed iframe, .twitter-tweet, .wp-block-embed-instagram {
  display: block;
  margin: auto !important;
  max-width: 480px !important;
}

.post .wp-block-embed figcaption {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 24px;
  line-height: 48px;
}

.wp-block-image img {
  height: auto;
}

.code-block {
  margin: 0px !important;
}

/* ads */

.ad-inserter {
  width: 100%;
  display: block;
  text-align: center;
  margin: 96px 0;
}
.ad-inserter iframe {
  border: 12px solid #242424;
  max-width: calc(100% - 24px);
}

.ad-inserter-half {
  width: 50%;
}

.ad-inserter-container {
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
}

.ad-inserter-center {
  width: 100%;
}

.ad-inserter p, .post .entry-content .ad-inserter p {
  font-size: 24px;
  line-height: 48px;
}

.ad-inserter iframe {
  display: block;
  margin: auto;
}

/* next/prev */

.nav-next, .nav-previous {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: center;
}

.nav-next a, .nav-previous a {
  text-decoration: none;
}

/* unvisited link */
.front-end a:link {
  color: green;
}

/* visited link */
.front-end a:visited {
  color: green;
}

/* mouse over link */
.front-end a:hover {
  color: red;
}

/* selected link */
.front-end a:active {
  color: yellow;
}

/* jetpack */
#infinite-footer {
  display: none !important;
  position: relative !important;
}

.infinite-loader {
  display: none !important;
  clear: both;
  background: #ff0052 !important;
}

/* spinner */

div.spinner {
  display: none !important;
}


.searchform input {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  font-size: 24px;
  line-height: 96px;
  background: #f5f4ef;
  color: green;
}

.searchform input:focus{
  outline: none;
  text-align: left;
  box-shadow: none;
  border: none;
  padding: 0;
  background: green;
  color: #ffffff;
}

::placeholder {
  opacity: 1; 
  text-align: right;
  color: green !important;
}

:-ms-input-placeholder {
  text-align: right;
  color: green !important;
}

::-ms-input-placeholder {
  text-align: right;
  color: green !important;
}

/* desktop/tablet */
@media screen and (min-width: 1000px) {
  
}

/* phone */
@media screen and (max-width: 1000px) {

  .header-flex {
  }

  .search-input {
    height: 96px;
    display: -webkit-inline-box;
  }

  .searchform {
    width: 100%;
    height: 100%;
    display: -webkit-inline-box;
  }

  .searchform input {
    margin: auto;
    display: block;
  }

  .header-links {
  }

  .post-info {
    padding: 0 48px;
  }

  .post-info p {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }

  .post-info .post-title h1 {
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    padding: 0;
  }

  .post-info .post-title h2 {
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    padding: 0;
  }

  .post-info .subtitle p {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }

  .post-info .excerpt p {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }

  .post-info .date p {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }

  .post-info .categories {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }

  .post-info .tags {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }
  
  .post-info li {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }

}