
.gui_link_grid_white {
    background: url("./assets/gui/gui_link_grid_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_menu_white {
    background: url("./assets/gui/gui_link_menu_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_sign_up_white {
    background: url("./assets/gui/gui_link_sign_up_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_sign_in_white {
    background: url("./assets/gui/gui_link_sign_in_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_post_white {
    background: url("./assets/gui/gui_link_post_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_message_white {
    background: url("./assets/gui/gui_link_message_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_home_white {
    background: url("./assets/gui/gui_link_home_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_gear_white {
    background: url("./assets/gui/gui_link_gear_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_house_white {
    background: url("./assets/gui/gui_link_house_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_close_white {
    background: url("./assets/gui/gui_link_close_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_min_white {
    background: url("./assets/gui/gui_link_min_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_max_white {
    background: url("./assets/gui/gui_link_max_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_dots_white {
    background: url("./assets/gui/gui_link_dots_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_interaction_button_1 {
    background: url("./assets/gui/gui_interaction_button_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_interaction_button_start {
    background: url("./assets/gui/gui_interaction_button_start.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_interaction_button_learn {
    background: url("./assets/gui/gui_interaction_button_learn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_interaction_text_or {
    background: url("./assets/gui/gui_interaction_text_or.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_interaction_text_press {
    background: url("./assets/gui/gui_interaction_text_press.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_stage_tv {
    background: url("./assets/gui/gui_stage_tv.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_stage_lights {
    background: url("./assets/gui/gui_stage_lights.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_stage_desk {
    background: url("./assets/gui/gui_stage_desk.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

// character assets
.gui_character_message_box {
    background: url("./assets/gui/gui_character_message_box.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

// character body
.gui_character_1 {
    background: url("./assets/gui/gui_character.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.gui_character_2 {
    background: url("./assets/gui/gui_character.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.gui_character_3 {
    background: url("./assets/gui/gui_character.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.gui_character_4 {
    background: url("./assets/gui/gui_character.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_right_1 {
    background: url("./assets/gui/gui_character_right_1.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.gui_character_right_2 {
    background: url("./assets/gui/gui_character_right_2.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.gui_character_right_3 {
    background: url("./assets/gui/gui_character_right_3.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.gui_character_right_4 {
    background: url("./assets/gui/gui_character_right_4.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_left_1 {
    background: url("./assets/gui/gui_character_left_1.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.gui_character_left_2 {
    background: url("./assets/gui/gui_character_left_2.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.gui_character_left_3 {
    background: url("./assets/gui/gui_character_left_3.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.gui_character_left_4 {
    background: url("./assets/gui/gui_character_left_4.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_face {
    background: url("./assets/gui/gui_character_face.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_input_1 {
text-align: center;
    background: url("./assets/gui/gui_input_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gui_input_2 {
text-align: center;
    background: url("./assets/gui/gui_input_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gui_logo_mark {
    background: url("./assets/gui/gui_logo_mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_mark_1 {
    background: url("./assets/gui/gui_logo_mark_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_mark_2 {
    background: url("./assets/gui/gui_logo_mark_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_mark_3 {
    background: url("./assets/gui/gui_logo_mark_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_mark_4 {
    background: url("./assets/gui/gui_logo_mark_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_type {
    background: url("./assets/gui/gui_logo_type.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_mark_1 {
    background: url("./assets/gui/gui_logo_white_mark_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_mark_2 {
    background: url("./assets/gui/gui_logo_white_mark_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_mark_3 {
    background: url("./assets/gui/gui_logo_white_mark_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_mark_4 {
    background: url("./assets/gui/gui_logo_white_mark_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_white_type {
    background: url("./assets/gui/gui_logo_white_type.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_nav_logo_type {
    background: url("./assets/gui/gui_nav_logo_type.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_nav_logo_white_type {
    background: url("./assets/gui/gui_nav_logo_white_type.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

// accent

.accent_noise_1 {
    background: url("./assets/accent/noise_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_2 {
    background: url("./assets/accent/noise_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_3 {
    background: url("./assets/accent/noise_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.accent_noise_4 {
    background: url("./assets/accent/noise_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_white_1 {
    background: url("./assets/accent/noise_white_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_white_2 {
    background: url("./assets/accent/noise_white_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_white_3 {
    background: url("./assets/accent/noise_white_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.accent_noise_white_4 {
    background: url("./assets/accent/noise_white_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// socials

.socials_twitter_handdrawn {
    background: url("./assets/socials/twitter_handdrawn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.socials_twitch_handdrawn {
    background: url("./assets/socials/twitch_handdrawn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.socials_youtube_handdrawn {
    background: url("./assets/socials/youtube_handdrawn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.socials_instagram_handdrawn {
    background: url("./assets/socials/instagram_handdrawn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.socials_facebook_handdrawn {
    background: url("./assets/socials/facebook_handdrawn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}