body {
	background: #f5f5f5;
	font-family: serif;
  text-align: center;
}

i {
  font-style: italic;
}

.ad_homepage {
  padding: 48px;
  background: #ff0052;
}

.ad_afterpost {
  padding: 48px;
  background: #ff0052;
}

.ad_aftercontent {
  padding: 48px;
  background: #ff0052;
}

.search_video {
  width: 100%;
  display: flex;
}

.search_video iframe {
  margin: auto;
  padding: 48px;
}

.ad_homepage .width_max {
  display: flex;
  background: #ff0052;
}

.ad_afterpost .width_max {
  display: flex;
  background: #ff0052;
}

.ad_aftercontent .width_max {
  display: flex;
  background: #ff0052;
}

.site-logo {
  padding-right: 24px;
}

.author_info p {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.author_info a {
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  background: #ff0052;
}

.team {
  width: 25%;
  height: 400px;
  float: left;
}

.team h2 {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.about h2 {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.header {
    display: inline-block;
    width: 100%;
    float: left;
}

.content-area {
    display: inline-block;
    width: 100%;
    float: left;
}

.author h1.page-title {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.author h1.page-title span {
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  background: #ff0052;
  display: inline-block;
}

.search h1.page-title {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.search h1.page-title span {
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  background: #ff0052;
  padding: 0 12px;
  display: inline-block;
}

.category h1.page-title {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.category h1.page-title span {
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  background: #ff0052;
}

.tag h1.page-title {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.tag h1.page-title span {
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  background: #ff0052;
}

.components-post-author {
  background: #ffffff;
}

/* preview */
.components-post-info-preview .components-post-author {
}

.components-post-info-preview .components-post-author a.author-details-background-image {
  width: 48px;
  height: 48px;
  float: left;
}

.components-post-info-preview .author-details-background-image img {
  width: 48px;
  height: 48px;
}

.edit {
  line-height: 48px;
  font-size: 24px;
  color: #ffffff;
  background: #ff0052;
}
.edit a {
  color: #ffffff;
}

.components-post-info-preview .components-post-author a {
  line-height: 48px;
  font-size: 24px;
}

.components-post-info-preview .components-post-title h2 {
  font-size: 36px;
  line-height: 48px;
}

.components-post-info-preview .subtitle p {
  font-size: 24px;
  line-height: 48px;
  color: #ffffff;
  background: #242424;
}

.components-post-info-preview .excerpt p {
  font-size: 24px;
  line-height: 48px;
  color: #242424;  
}

.components-post-info-preview .entry-date {
  font-size: 24px;
  line-height: 48px;
  color: #242424;  
  font-weight: bold;
}

.single-post .components-post-info-preview .entry-date {
  line-height: 48px;
  padding-right: 24px;
}

.components-post-info-preview .entry-views {
  font-size: 24px;
  line-height: 48px;
  color: #242424;  
  font-style: italic; 
}

.single-post .components-post-info-preview .entry-views {
  line-height: 48px;
}

.components-post-info-preview .formats p {
  font-size: 24px;
  line-height: 24px;
  color: #242424;  
}

.components-post-info-preview .entry-cats-container a {
    font-size: 24px;
    line-height: 48px;
    color: #ff0052;
    padding: 9px;
    margin: 0 6px;
}

.components-post-info-preview .entry-tags-container a {
    font-size: 24px;
    line-height: 48px;
    color: #ff0052;
    padding: 9px;
    margin: 0 6px;
}

.components-post-info-preview .edit a {
  line-height: 24px;
  font-size: 24px;
  color: #ff0052;  
}

.components-post-info-preview .entry-thumbnail-bg img {
  height: auto;
  min-width: -webkit-fill-available;
  display: block;
  max-width: 100%;
}

/* single */
.single-post .components-post-thumbnail img {
  height: auto;
  min-width: -webkit-fill-available;
  display: block;
  max-width: 100%;
}

.single-post .components-post-author a.author-details-background-image {
  width: 48px;
  height: 48px;
  float: left;
}

.single-post .author-details-background-image img {
  width: 48px;
  height: 48px;
}

.single-post .components-post-author a {
  line-height: 48px;
  font-size: 24px;
}

/* colors */

.components-post-info-preview .components-post-title h2 {
  color: #ffffff;
  background: #ff0052;
}

.components-post-info-preview .components-post-title h2:hover {
  color: #242424;
}

.components-post-info-preview .components-post-author a {
  color: #949494;
}

.components-post-info-preview .components-post-author a:hover {
  color: #ff0052;
}

.components-post-author a {
  color: #949494;
}

.components-post-author a:hover {
  color: #ff0052;
}

.site-links a {
  color: #ffffff;
}

.site-links p {
  color: #040404;
}


.site-links a:hover {
  color: #040404;
}

.site-links p:hover {
  color: #ffffff;
}

/* end colors */

.single-post h1.entry-title {
  font-size: 72px;
  line-height: 96px;
  color: #ff0052;  
}

.single-post .subtitle {
  display: inline-block;
  width: 100%;
}

.single-post .subtitle p {
  font-size: 24px;
  line-height: 48px;
  color: #ffffff;  
  background: #242424;  
}

.single-post .excerpt p {
  font-size: 24px;
  line-height: 48px;
  color: #242424;  
}

.single-post .entry-date {
  font-size: 24px;
  line-height: 48px;
  color: #242424;
  font-weight: bold; 
  padding-right: 24px;
}

.single-post .entry-views {
  font-size: 24px;
  line-height: 48px;
  color: #242424;
  font-style: italic; 
}

.single-post .formats p {
  font-size: 24px;
  line-height: 24px;
  color: #ff0052;  
}

.single-post .entry-cats-container a {
    font-size: 24px;
    line-height: 48px;
    color: #ff0052;
    padding: 9px;
    margin: 0 6px;
}

.single-post .entry-tags-container a {
    font-size: 24px;
    line-height: 48px;
    color: #ff0052;
    padding: 9px;
    margin: 0 6px;
}

.single-post .entry-content {
  background: #ffffff;
}

.wp-block-embed figcaption {
    font-size: 24px;
    line-height: 48px;
    color: #ffffff;
    max-width: 480px;
    margin: auto;
    background: #ff0052;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.single-post .entry-content h1 {
  font-size: 48px;
  line-height: 48px;
  color: #ff0052;
  text-transform: uppercase;
}

.single-post .entry-content h2 {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.single-post .entry-content h3 {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
  text-align: left;
  padding: 24px 48px 12px;
}

.single-post .entry-content p {
    font-size: 24px;
    line-height: 36px;
    color: #242424;
    text-align: left;
    padding: 24px 48px 24px;
}

.single-post .entry-content a {
  color: #ff0052;
}

.single-post .entry-content ol, .single-post .entry-content ul {
  margin: 0 0 24px;
}

.single-post .entry-content ol li, .single-post .entry-content ul li{
  color: #ff0052;
  background: #ff0052;
  border-bottom: 12px solid #ffffff;
  margin: 0 36px;
  line-height: 48px;
  font-size: 24px;
}

.single-post .entry-content ol li a, .single-post .entry-content ul li a{
  color: #ffffff;
}

/* post preview */

.home .post:nth-child(1) {
  width: 100%;
  float: left;
}

.home .post:nth-child(1) .components-post-info-preview .entry-date-views-container {
    display: inline-flex;
}

.home .post:nth-child(1) .components-post-info-preview .entry-date {
  padding-right: 24px;
}

.home .post:nth-child(1) .components-post-info-preview .entry-cat-tag-container {
    display: inline-flex;
}

.home .post:nth-child(2) {
  width: 33.33333%;
  float: left;
}

.home .post:nth-child(3) {
  width: 33.33333%;
  float: left;
}

.home .post:nth-child(4) {
  width: 33.33333%;
  float: left;
  clear: right;
}

.home .post:nth-child(5) {
  width: 33.33333%;
  float: left;
  clear: right;
}

/* input */


input, textarea, select, a { outline: none; }

input {
  width: -webkit-fill-available;
  border-radius: 0px;
}

.copy_Link input {
  outline: none;
  text-align: center;
  box-shadow: none;
  border: none;
  padding: 0;
  line-height: 48px;
  font-size: 24px;
  background: #ffffff;
  color: #000000;
  font-family: serif;
}

.copy_Link input:focus{
  outline: none;
  text-align: center;
  box-shadow: none;
  border: none;
  padding: 0;
  background: #000000;
  color: #ffffff;
}

/* style */
#search {
  width: 100%;
  border: 1px solid #000;
}

.searchInput input#s {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  width: -webkit-fill-available;
  border-radius: 0px;
  outline: none;
  text-align: center;
  box-shadow: none;
  border: none;
  padding: 0;
  line-height: 48px;
  font-size: 24px;
  background: #040404;
  color: #000000;
  font-family: serif;
}

.searchInput input#s:focus{
  outline: none;
  text-align: center;
  box-shadow: none;
  border: none;
  padding: 0;
  background: #000000;
  color: #ffffff;
}

::placeholder {
  opacity: 1; 
  text-align: center;
  color: #ffffff !important;
}

:-ms-input-placeholder {
  text-align: center;
  color: #ffffff !important;
}

::-ms-input-placeholder {
  text-align: center;
  color: #ffffff !important;
}

.main-navigation {
  float: left;
  width: 100%;
  font-size: 96px;
  line-height: 152px;
  text-align: center;
  background: #242424;
  color: #ffffff;
}

.main-navigation a {
  color: #ffffff;
}

.site-links .searchInput {
  display: flex;
  float: left;
}

.searchTitle {
    text-align: center;
    font-size: 48px;
}

.searchTitle a {
  text-decoration: none;
}

.searchTitle a h1 .brand {
  font-size: 96px;
  line-height: 152px;
  margin: 0px;
}

.searchTitle a .brand {
  color: #fff;
}

.searchTitle a .dotcom {
  color: #fff;
  font-size: 24px;
}

.searchTitle a .stamp {
  display: flex;
  position: absolute;
  float: right;
  top: 0;
  right: 0;
}

.searchTitle a .stamp_1 {
  color: #ffffff;
  padding: 6px;
  font-size: 12px;
}

.searchTitle a .stamp_2 {
  color: #ffffff;
  padding: 6px;
  font-size: 12px;
  background: #ff0052;
}

.searchMessage p {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
}

.searchMessage a {
  text-decoration: none;
    color: #ff0052;
}

.searchContainer {
  display: inline-grid;
  position: relative;
  width: 100%;
  height: calc(100vh);
  min-height: 480px;
  background: #242424;
}

.searchPosition {
  display: inline-grid;
  position: relative;
  margin: auto;
}

.searchInput {
  display: flex;
}

.searchform {
  display: contents;
}

.searchInput #searchsubmit {
  border: none;
  margin: auto;
  width: -webkit-fill-available;
  float: left;
  font-size: 24px;
  line-height: 48px;
  padding: 0;
  background: #040404;
  color: #ff0052;
}

.searchInput #searchsubmit:focus, button:focus, {
    outline: none;
    box-shadow: none;
    background-color: #ffed00 !important;
}

.searchButtons {
  display: flex;
}

.searchButtons button {
  border: none;
  margin: auto;
  float: left;
  font-size: 24px;
  line-height: 48px;
  width: 50%;
  padding: 0;
  background: #242424;
  color: #ffffff;
}

.searchButtons button a {
  color: #ffffff;
}

article:nth-child(odd) {
}

article:nth-child(even) {
}

.width_max {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.nav-next a {
  color: #ffffff;
  text-decoration: none;
}

.site-menu {
    width: 100%;
    text-align: center;
    background: #242424;
    clear: both;
    float: left;
}

.site-menu a, .site-menu p {
  color: #040404;
  font-size: 24px;
  line-height: 48px;
}

.site-links {
    width: 100%;
    text-align: center;
    background: #242424;
    clear: both;
    float: left;
}

.site-links a, .site-links p {
  font-size: 24px;
  line-height: 48px;
}

.site-link-catgeory-left {
  float: left;
  margin-right: 12px;
}

.site-link-catgeory-right {
  float: right;
  margin-left: 12px;
}

.about .site-main a, .about .site-main p {
  font-size: 24px;
  line-height: 48px;
}

.thumbnail-bg {
  height: 480px;
  background-position: center;
  background-size: cover;
}

.single_meta {
  display: inline-block;
  width: 100%;
  margin-top: 18px;
}

.single_meta .flat {
  margin: auto;
  display: inline-block;
}

.single article {
}

.single article .code-block{
  margin: 0 0 48px !important;
}

.single .code-block{
  margin: 0!important;
}

.whole {
  margin: auto;
  display: flex;
}

.half {
  width: 50%;
}

.half_vert {
  display: flex;
}

.half_vert .vert {
  margin: auto;
}

.half iframe {
  width: 100% !important;
}

/* ad inserter */

.code-block {
  margin: auto !important;
  width: 100%;
  clear: both !important;
  max-width: 100vw;
    background: #242424;
}

.wp-block-embed iframe {
    height: auto;
    width: -webkit-fill-available;
    display: block;
    margin: auto;
    max-width: 480px !important;
}

.wp-block-embed-spotify iframe {
    height: auto;
    width: -webkit-fill-available;
    display: block;
    margin: auto;
    max-width: 480px !important;
}

.twitter-tweet iframe {
    height: auto;
    width: -webkit-fill-available;
    display: block;
    margin: auto;
    max-width: 480px !important;
}

.wp-block-embed-youtube iframe {
    min-height: 360px;
}

.code-block iframe {
    height: auto;
    min-height: 360px;
    width: -webkit-fill-available;
    display: block;
    margin: auto;
    max-width: 480px;
}

.single .ad-insert {
    margin: 48px 0 !important;
}

.ad-insert {
    margin: 128px 0 !important;
    width: 100%;
    clear: both;
    display: inline-flex;
}

.ad-insert iframe {
	margin: auto;
	width: 100%;
	clear: both;
	max-width: 980px;
	padding: 10px;
}

/* jetpack */
#infinite-footer {
	display: none !important;
	position: relative !important;
}

.infinite-loader {
	display: none !important;
	clear: both;
	background: #ff0052 !important;
}

div.spinner {
	display: none !important;
}

/* center embeds */
.wp-block-embed {
	margin-bottom: 0 !important;
}

.wp-block-embed__wrapper {
	display: flex;
}

.wp-block-embed__wrapper iframe, .fb_iframe_widget, .twitter-tweet, .embedly-card {
	margin: auto !important;
}


/* responsive */

/**
 * desktop/tablet
*/
@media screen and (min-width: 1000px) {
}

/**
 * phone
*/
@media screen and (max-width: 1000px) {
  .single-post .entry-content h3 {
    padding: 24px 48px 0;
  }

  .wp-block-embed-twitter {
    padding: 0 25px;
  }

  .wp-block-embed-spotify {
    padding: 0 25px;
    background: #242424;
  }

  .site-link-catgeory-left {
    width: 100%;
    text-align: center;
  }

  .site-link-catgeory-right {
    width: 100%;
    text-align: center;
  }

  .home .post .components-post-info-preview .entry-date {
    padding-right: 24px !important;
  }

  .mobile-split {
    width: 100%;
    display: inline-flex;
  }

  .components-post-info-preview .entry-date-views-container {
    display: inline-flex;
  }

  .components-post-info-preview .entry-cat-tag-container {
    display: inline-flex;
  }

  .searchMessage {
    padding-top: 12px;
  }

  .site-logo {
    padding-right: 0px;
  }

  .hide-on-mobile {
    display: none;
  }

  .single-post h1.entry-title {
    font-size: 72px;
    line-height: 72px;
    padding: 12px;
  }

  .copy_Link input {
    font-size: 18px;
  }

  .site-logo {
    width: 100%;
  }

  .searchInput {
    width: 100%;
  }

  .width_max {
    width: 100%;
    max-width: 100%;
  }

  .searchContainer {
    height: auto;
  }

  /* post preview */

  .home .post:nth-child(1) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(2) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(3) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(4) {
    width: 100%;
    float: left;
    clear: right;
  }

  .home .post:nth-child(5) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(6) {
    width: 100%;
    float: left;
    clear: right;
  }

  .home .post:nth-child(7) {
    width: 100%;
    float: left;
    clear: right;
  }

}

h1, h2, h3. h4, h5, h6 {
	font-size: 48px;
	line-height: 48px;
  margin: 0px;
}

p {
}

a {
  text-decoration: none;
}

/* ui switches */
#body.ui_switch_search_true .searching_menu {
  position: relative;
  width: 100%;
  height: calc(100vh);
  background: #242424;
  float: left;
}

#body.ui_switch_search_false .searching_menu {
	display: none;
}

/* border */
.post-container {
    max-width: 1000px;
    margin: auto;
}

.components-post-info-preview {
}

.components-post-title {
}

.author-nigel .author_bg {
  width: 100%;
  height: 100vh;
  background-image: url("./jpg/nigel_1.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  float: left;
}

.author-desmond .author_bg {
  width: 100%;
  height: 100vh;
  background-image: url("./jpg/desmond_1.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  float: left;
}