article:nth-child(odd) {
  background: #f5f5f5;
}

article:nth-child(even) {
  background: #f9f9f9;
}

textarea:focus, input:focus{
    outline: none;
	text-align: center;
	box-shadow: none;
	border: none;
}

#body.ui_switch_search_true textarea:focus, #body.ui_switch_search_true input:focus{
  	background-color: #ffed00 !important;
}

button:focus{
    outline: none;
	box-shadow: none;
  	background-color: #ffed00 !important;
}

::placeholder {
  opacity: 1; 
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

::-ms-input-placeholder {
  text-align: center;
}

/* ad inserter */

.single .ad-insert {
    margin: 48px auto !important;
}

.ad-insert {
    margin: 128px auto !important;
    width: 100%;
    clear: both;
    display: inline-flex;
}

.ad-insert iframe {
	margin: auto;
	width: 100%;
	clear: both;
	max-width: 980px;
	padding: 10px;
}

/* jetpack */

#infinite-footer {
	display: none !important;
	position: relative !important;
}

.infinite-loader {
	display: none !important;
	clear: both;
	background: #ff0052 !important;
}

div.spinner {
	display: none !important;
}

/* center embeds */

.wp-block-embed {
	margin-bottom: 0 !important;
}

.wp-block-embed__wrapper {
	display: flex;
}

.wp-block-embed__wrapper iframe, .fb_iframe_widget, .twitter-tweet, .embedly-card {
	margin: auto !important;
}

.wp-block-embed-spotify iframe {
	max-width: 548px !important;
}

/* responsive */

/**
 * desktop/tablet
*/
@media screen and (min-width: 1000px) {

}

/**
 * phone
*/
@media screen and (max-width: 1000px) {


	h1, h2, h3. h4, h5, h6 {
		font-size: 48px;
		line-height: 48px;
	}

	p {
		font-size: 36px;
		line-height: 48px;
	}

	a {
		line-height: 48px;
	}

	img {
		width: 48px;
		height: 48px;
	}

}

/* ui switches */

#body.ui_switch_search_true article {
	display: none;
}

#body.ui_switch_search_true .searching_menu {
}

#body.ui_switch_search_false .searching_menu {
	display: none;
}