
body {
	overflow-x: hidden;
	width: 100vw;
}

.nav-next {
	float: left;
}

.nav-previous {
	float: right;
}

.flat {
	width: 100%;
}

.team-girl {
	background-image: url('./svg/team-girl.svg');
	width: 25%;
	height: 100px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.team-boy {
	background-image: url('./svg/team-boy.svg');
	width: 25%;
	height: 100px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.searchform > div {
	display: flex;
}

.searchform > div #s {
	width: -webkit-fill-available;
}

.copy_Link {
	display: flex;
}

.copy_Link input {
	width: -webkit-fill-available;
}

/* branding */

.site-name {
	width: 100%;
	text-align: center;
	display: flex;
}

.site-tagline {
	width: 100%;
	text-align: center;
}

.menu {
	padding: 10px;
}

/* title */

a.site-name, a.site-name {
	text-decoration: none;
	color: #ffffff;
}

a.site-name h1, a.site-name h2 {
	position: relative;
	font-size: 128px;
	line-height: 128px;
	letter-spacing: -18px;
	-webkit-text-stroke: 1px #000000;
	margin: 32px auto;
}

a.site-name h1 span, a.site-name h2 span {
	font-size: 32px;
	line-height: 32px;
	letter-spacing: -2px;
	-webkit-text-stroke: 1px #000000;
	text-decoration: none;
	color: #000000;
	position: absolute;
	bottom: 0;
	right: 0;
}

.site-tagline {
	font-size: 32px;
	line-height: 64px;
	letter-spacing: -2px;
	-webkit-text-stroke: 1px #000000;
	text-decoration: none;
}

.site-tagline span {
	margin: 0 5px;
}

.site-tagline a, .site-tagline a {
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #000000;
}

.site-tagline a:active, .site-tagline a:active {
	color: #000000;
}

.site-tagline a:visited, .site-tagline a:visited {
	color: #000000;
}

.site-tagline a:hover, .site-tagline a:hover {
	color: #000000;
}

/* post */

.post {
	.margin-bottom: 48px;
}

.single .post {
	min-height: 100vh;
	clear: both;
}

.single a.site-name {
	width: -webkit-fill-available;
}

.single .site-tagline {
	width: -webkit-fill-available;
}

h1.entry-title {
	font-size: 48px;
	line-height: 48px;
	margin: auto;
}

/* post preview */

.home .post:nth-child(1) {
	width: 100%;
	float: left;
}

.home .post:nth-child(2) {
	width: 33.33333%;
	float: left;
}

.home .post:nth-child(3) {
	width: 33.33333%;
	float: left;
}

.home .post:nth-child(4) {
	width: 33.33333%;
	float: left;
	clear: right;
}

.home .post:nth-child(5) {
	width: 50%;
	float: left;
}

.home .post:nth-child(6) {
	width: 50%;
	float: left;
	clear: right;
}

.home .post:nth-child(7) {
	width: 50%;
	float: left;
	clear: right;
}


.components-post-title a h2, .components-post-title a {
	font-size: 48px;
	line-height: 48px;
	text-decoration: none;
	color: #000000;
}

/* author */

.components-post-author {
	float: left;
}

.components-post-author a {
	text-decoration: none;
	border-bottom: 1px solid #000;
	text-decoration: none;
}

.author-details-background-image {
	float: left;
	width: 14px;
	height: 13px;
	margin: 15px 0;
	background-size: cover;
	background-position: center;
}

.components-post-author a.nickname {
	margin: 5px;
	padding: 5px;
	float: left;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: -2px;
	-webkit-text-stroke: 1px #000000;
	color: #000000;
	text-decoration: none;

}
.components-post-author a.link {
	margin: 5px;
	padding: 5px;
	float: right;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: -2px;
	-webkit-text-stroke: 1px #000000;
	color: #000000;
	text-decoration: none;
}
.components-post-author a.url {
	margin: 5px;
	padding: 5px;
	float: right;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: -2px;
	-webkit-text-stroke: 1px #000000;
	color: #000000;
	text-decoration: none;
}
.components-post-author a.email {
	margin: 5px;
	padding: 5px;
	float: right;

	margin: 5px;
	padding: 5px;
	float: left;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: -2px;
	-webkit-text-stroke: 1px #000000;
	color: #000000;
	text-decoration: none;
}

.entry-cats {
	width: 100%;
	float: left;
}

.entry-cats-container a {
	margin: 5px;
	padding: 5px;
	float: left;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: -2px;
	-webkit-text-stroke: 1px #000000;
	color: #000000;
	text-decoration: none;
}

.entry-tags {
	width: 100%;
	float: left;
}

.entry-tags-container a {
	margin: 5px;
	padding: 5px;
	float: left;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: -2px;
	-webkit-text-stroke: 1px #000000;
	color: #000000;
	text-decoration: none;
}

.entry-date-views  {
	width: 100%;
	float: left;
}

.entry-date-views .entry-date, .entry-date-views .entry-views {
	margin: 5px;
	padding: 5px;
	float: left;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: -2px;
	-webkit-text-stroke: 1px #000000;
	color: #000000;
	text-decoration: none;
}

/* caption */
.wp-block-embed figcaption {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	text-align: center;
}

/* feature image as bg thumbnail */
.entry-thumbnail-bg {
	min-height: 400px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.entry-thumbnail-bg h2 {
	position: relative;
	float: left;
	z-index: 1;
	padding: 10px;
	margin: 10px 10px 0 10px;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: -2px;
	-webkit-text-stroke: 1px #000000;
	background: #ffffff;
	border: 1px solid #000000;
}

.entry-thumbnail-bg h3 {
	position: relative;
	float: right;
	z-index: 1;
	padding: 10px;
	margin: 10px 0 10px 0px;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: -2px;
	-webkit-text-stroke: 1px #000000;
	background: #ffffff;
	border: 1px solid #000000;
}

.entry-thumbnail-bg a {
	position: relative;
	width: 100%;
	text-decoration: none;
	z-index: 1;
	color: #000000;
	float: left;
	clear: both;
}

.thumbnail-bg {
	width: 100%;
	height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* feature image on single */

.image-container {
	width: 100%;
	max-height: 480px;
	display: flex;
}

.image-container img {
	height: 100%;
	width: auto;
	margin: auto;
	max-width: 100%;
}

/* ad inserter */
.ad-insert {
    margin: 128px auto !important;
    width: 100%;
    clear: both;
    display: inline-flex;
}

.ad-insert iframe {
	margin: auto;
	width: 100%;
	clear: both;
	max-width: 978px;
	padding: 10px;
	border: 1px solid #000000;
}

/* jetpack */

#infinite-footer {
	display: none !important;
	position: relative !important;
}

.infinite-loader {
	background: #ff0052 !important;
}

div.spinner {
	background: #000000 !important;
}

/* center embeds */

.wp-block-embed {
	margin-bottom: 0 !important;
}

.wp-block-embed__wrapper {
	display: flex;
}

.wp-block-embed__wrapper iframe, .fb_iframe_widget, .twitter-tweet, .embedly-card {
	margin: auto !important;
}

.wp-block-embed-spotify iframe {
	max-width: 548px !important;
}


/* responsive */

/**
 * desktop/tablet
*/
@media screen and (min-width: 1000px) {


}

/**
 * phone
*/
@media screen and (max-width: 1000px) {

	.main-navigation a {
		line-height: 48px;
		height: 48px;
		border-radius: 0;
		border: 1px solid #000000;
	}
 	
 	.searchform > div #s {
 		line-height: 48px;
 		height: 48px;
 		border-radius: 0;
 		border: 1px solid #000000;
 	}

 	.searchform > div #searchsubmit {
 		line-height: 48px;
 		height: 48px;
 		border-radius: 0;
 		border: 1px solid #000000;
 	}

	.copy_Link input {
		line-height: 48px;
		height: 48px;
		border-radius: 0;
		border: 1px solid #000000;
	}

 	.author-details-background-image {
    	width: 48px;
    	height: 48px;
 	}

 	.components-post-author a {
 		line-height: 48px;
 	}

 	.entry-cats {
 		line-height: 48px;
 	}

	.entry-tags {
 		line-height: 48px;
 	}

	/* post preview */

	.home .post:nth-child(1) {
		width: 100%;
		float: left;
	}

	.home .post:nth-child(2) {
		width: 100%;
		float: left;
	}

	.home .post:nth-child(3) {
		width: 100%;
		float: left;
	}

	.home .post:nth-child(4) {
		width: 100%;
		float: left;
		clear: right;
	}

	.home .post:nth-child(5) {
		width: 100%;
		float: left;
	}

	.home .post:nth-child(6) {
		width: 100%;
		float: left;
		clear: right;
	}

	.home .post:nth-child(7) {
		width: 100%;
		float: left;
		clear: right;
	}

  	.post {
    	margin-bottom: 20px;
  	}
}
