
@media (min-width: 1000px) {

  .max_width {
    max-width: 1000px;
  };

};

@media (max-width: 999px) and (min-width: 750px) {

  .max_width {
    max-width: 750px;
  }

};

@media (max-width: 749px) and (min-width: 601px) {

  .max_width {
    max-width: 500px;
  }

};

@media (max-width: 600px) {

  .max_width, .max_width_500px {
    max-width: 100%;
    width: 100%;
  }
  
  .reset_at_600px {
    max-width: 100%;
    width: 100%;
    margin: auto;
    border-radius: 0px;
  }

  #wp_component_blog {
    width: 100%;
  };

  #wp_component_sidebar {
    display: none;
  };

};

/* Maximum aspect ratio */
@media (max-aspect-ratio: 16/8) {
  .background-image-div {

  }

  #gui_particles_computer_corner_closeup {
  }
}

/* Minimum aspect ratio */
@media (min-aspect-ratio: 16/8) {
  .background-image-div, #inside_container_content {
    width: 100%;
    height: 100vh;
  }

  #gui_particles_computer_corner_closeup {
    display: none;
  }
}

// blog

#wp_component_blog {
  width: 65%
};

#wp_component_sidebar {
  width: 35%
};


#element_ol_firebase_library_feature > li:first-child {
  width: 100%;
  float: left;
};

#element_ol_firebase_library_feature > li {
  width: 16.6666667%;
  float: left;

  #wp_info_1 {
    display: none;
  };

  #wp_info_2 {
    display: none;
  };

};

.grid {

  #element_ol_firebase_roster, #element_ol_firebase_library, #element_ol_firebase_skills, #element_ol_firebase_abilities, #element_ol_firebase_services, #element_ol_firebase_partners {
      position: relative;
      width: calc(100% - 10%);
      margin: 2vh 5% 0;
      float: left;

    > li:after {
      position: absolute;
      left: -.5vh;
      top: -.5vh;
      padding: 1vh;
      content: counter(item);
      border-radius: 100%;
      color: $dark-yellow-9;
      width: 2.5vh;
      height: 2.5vh;
      line-height: 2.5vh;
      font-size: 2vh;
      text-align: center;
      display: inline-block;
      background: $light-yellow-0;
      border: 0.1vh solid $dark-yellow-9;      
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: 1;
    };

    > li:before {
      position: absolute;
      left: 0vh;
      top: 0vh;
      padding: 1vh;
      content: '';
      border-radius: 100%;
      color: $dark-yellow-9;
      width: 2.5vh;
      height: 2.5vh;
      line-height: 2.5vh;
      font-size: 2vh;
      text-align: center;
      display: inline-block;
      background: $light-yellow-0;
      z-index: 1;
    }

    > li {
      counter-increment: item;
      position: relative;
      width: 33.33333%;
      min-height: 33vh;
      float: left;

      #container {
        width: calc(100% - 10vh);
        padding: 0 2.5vh 2.5vh;
        margin: 2.5vh;
        float: left;
      };

      #section {
        width: 100%;
        margin: 2.5vh 0 0;
        float: left;
      };
    
      #image {
        position: relative;
        width: 100%;
        margin: 0 0 2.5vh;
        float: left;
        border: 0.1vh solid $dark-yellow-9;

        #element_annotate_top {
          width: calc(100% - 5vh);
          margin: 0 2.5vh;
          line-height: 5vh;
          font-size: 2vh;

          > div {
            width: 100%;
          };

        };
      };

      #content {
        width: calc(100% - 5vh);
        padding: 2.5vh;
        margin: 0 0 2.5vh;
        float: left;
        border: 0.1vh solid $dark-yellow-9;
        background: $light-yellow-0;
        line-height: 2.5vh;
        font-size: 2vh;
      };

      #interaction {
        width: calc(100% - 5vh);
        padding: 0 2.5vh 1vh;
        margin: 0 0 2.5vh;
        float: left;
        border: 0.1vh solid $dark-yellow-9;
        background: $light-yellow-0;
      };

      #meta {
        width: calc(100% - 5vh);
        padding: 0 2.5vh;
        margin: 0 0 2.5vh;
        float: left;
        border: 0.1vh solid $dark-yellow-9;
        background: $light-yellow-0;
        line-height: 5vh;
        font-size: 2vh;
      };

      #user {
        width: calc(100% - 5vh);
        padding: 0 2.5vh;
        margin: 0 0 2.5vh;
        float: left;
        border: 0.1vh solid $dark-yellow-9;
        background: $light-yellow-0;
        line-height: 5vh;
        font-size: 2vh;

        #profile_picture {
          border: 0.1vh solid $dark-yellow-9;
        }
      };

      #title {
        width: calc(100% - 5vh);
        padding: 0 2.5vh;
        margin: 0 0 2.5vh;
        float: left;
        border: 0.1vh solid $dark-yellow-9;
        background: $light-yellow-0;
        line-height: 5vh;
        font-size: 2vh;
      };

    };

  };

    @media (min-width: 1501px) {

      #element_ol_firebase_roster, #element_ol_firebase_library, #element_ol_firebase_skills, #element_ol_firebase_abilities, #element_ol_firebase_services, #element_ol_firebase_partners {

        > li {
            width: 10%;

          #container {
                
            };
        };

        li:nth-child(10n + 1) {
          position: relative;
          float: left;
          clear: left;
        };

      };

    };

    @media (max-width: 1500px) and (min-width: 1401px) {

      #element_ol_firebase_roster, #element_ol_firebase_library, #element_ol_firebase_skills, #element_ol_firebase_abilities, #element_ol_firebase_services, #element_ol_firebase_partners {

        > li {
            width: 11.1111%;

          #container {
                
            }
        };

      li:nth-child(9n + 1) {
          position: relative;
          float: left;
          clear: left;
          }

      };

    };

    @media (max-width: 1400px) and (min-width: 1301px) {

      #element_ol_firebase_roster, #element_ol_firebase_library, #element_ol_firebase_skills, #element_ol_firebase_abilities, #element_ol_firebase_services, #element_ol_firebase_partners {

        > li {
            width: 12.5%;

          #container {
                
            }
        };

      li:nth-child(8n + 1) {
          position: relative;
          float: left;
          clear: left;
          }

      };

    };

    @media (max-width: 1300px) and (min-width: 1201px) {

      #element_ol_firebase_roster, #element_ol_firebase_library, #element_ol_firebase_skills, #element_ol_firebase_abilities, #element_ol_firebase_services, #element_ol_firebase_partners {

        > li {
            width: 14.2857143%;

          #container {
                
            }
        };

      li:nth-child(7n + 1) {
          position: relative;
          float: left;
          clear: left;
          }

      };

    };

    @media (max-width: 1200px) and (min-width: 1101px) {

      #element_ol_firebase_roster, #element_ol_firebase_library, #element_ol_firebase_skills, #element_ol_firebase_abilities, #element_ol_firebase_services, #element_ol_firebase_partners {

        > li {
            width: 16.6666%;

          #container {
                
            }
        };

      li:nth-child(6n + 1) {
          position: relative;
          float: left;
          clear: left;
          }

      };

    };

    @media (max-width: 1100px) and (min-width: 1001px) {

      #element_ol_firebase_roster, #element_ol_firebase_library, #element_ol_firebase_skills, #element_ol_firebase_abilities, #element_ol_firebase_services, #element_ol_firebase_partners {

        > li {
            width: 20%;

          #container {
                
            }
        };

      li:nth-child(5n + 1) {
          position: relative;
          float: left;
          clear: left;
          }

      };

    };

    @media (max-width: 1000px) and (min-width: 901px) {

      #element_ol_firebase_roster, #element_ol_firebase_library, #element_ol_firebase_skills, #element_ol_firebase_abilities, #element_ol_firebase_services, #element_ol_firebase_partners {

        > li {
            width: 25%;

          #container {
                
            }
        };

      li:nth-child(4n + 1) {
          position: relative;
          float: left;
          clear: left;
          }

      };

    };

    @media (max-width: 900px) and (min-width: 801px) {

      #element_ol_firebase_roster, #element_ol_firebase_library, #element_ol_firebase_skills, #element_ol_firebase_abilities, #element_ol_firebase_services, #element_ol_firebase_partners {

        > li {
            width: 33%;

          #container {
                
            }
        };

      li:nth-child(3n + 1) {
          width: 33%;
          position: relative;
          float: left;
          clear: left;
          }

          li:nth-child(3n + 2) {
          width: 33%;
          position: relative;
          float: left;
          margin: 0% .5% 0;
          }

          li:nth-child(3n + 3) {
          width: 33%;
          position: relative;
          float: left;
          }

      };

    };


    @media (max-width: 800px) and (min-width: 601px) {

      #element_ol_firebase_roster, #element_ol_firebase_library, #element_ol_firebase_skills, #element_ol_firebase_abilities, #element_ol_firebase_services, #element_ol_firebase_partners {

        > li {
          width: 50%;
          border-bottom: 0.1vh solid $dark-yellow-9;
        };

        > li:nth-child(3n + 1), > li:nth-child(3n + 2), > li:nth-child(3n + 3) {
          width: 50% !important;;
          margin: auto !important;
        };

        > li:after {
          position: absolute;
          left: .5vh;
          top: .5vh;
        };

        > li:before {
          position: absolute;
          left: 1.5vh;
          top: 1.5vh;
        };

        li > #container {
          margin: auto;
          width: calc(100% - 5vh);
          border: none;
        };

      };

    }

    @media (max-width: 600px) {

      #element_ol_firebase_roster, #element_ol_firebase_library, #element_ol_firebase_skills, #element_ol_firebase_abilities, #element_ol_firebase_services, #element_ol_firebase_partners {
        width: 100%;
         margin: 0;

        > li {
          width: 100%;
          border-bottom: 0.1vh solid $dark-yellow-9;
          #container {
            border-left: none;
            border-right: none;
          }
        };

        > li:nth-child(3n + 1), > li:nth-child(3n + 2), > li:nth-child(3n + 3) {
          width: 100% !important;
          margin: auto !important;
        }

        > li:after {
          position: absolute;
          left: .5vh;
          top: .5vh;
        };

        > li:before {
          position: absolute;
          left: 1.5vh;
          top: 1.5vh;
        };

        li > #container {
          margin: auto;
          width: calc(100% - 5vh);
          border: none;
        }

      };

    };

  };
