
//paint
.gui_container_tall {
    background: url("./assets/graphics/gui/gui_container_tall.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_gradient_purple_top {
    background: url("./assets/graphics/gui/gui_gradient_purple_top.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
}

.gui_gradient_purple_bottom {
    background: url("./assets/graphics/gui/gui_gradient_purple_bottom.svg");
    background-repeat: repeat-x;
    background-position: top;
    background-size: contain;
}

.gui_hori_bottom {
    background: url("./assets/graphics/gui/gui_hori_bottom.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_vert_left {
    background: url("./assets/graphics/gui/gui_vert_left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_hr_vert {
    background: url("./assets/graphics/gui/gui_hr_vert.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_hr_hori {
    background: url("./assets/graphics/gui/gui_hr_hori.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo {
    background: url("./assets/graphics/gui/gui_logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.avatar_maisie {
    background: url("./assets/graphics/gui/avatar_maisie.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.avatar_nigel {
    background: url("./assets/graphics/gui/avatar_nigel.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

// effects

.effect_vignette {
    background: url("./assets/graphics/effect/vignette.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

// accent

.accent_noise_1 {
    background: url("./assets/graphics/accent/noise_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_2 {
    background: url("./assets/graphics/accent/noise_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_3 {
    background: url("./assets/graphics/accent/noise_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.accent_noise_4 {
    background: url("./assets/graphics/accent/noise_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}