

// green
.gradient_green_top {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#092d30+1,092d30+100&1+0,0+100 */
background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), $green 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), $green 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to top, rgba(0, 0, 0, 0), $green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#092d30', endColorstr='#00092d30',GradientType=0 ); /* IE6-0 */
}

.gradient_green_bottom {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#092d30+1,092d30+100&0+0,1+100 */
background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), $green 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), $green 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00092d30', endColorstr='#092d30',GradientType=0 ); /* IE6-0 */
}

.gradient_green_left {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#092d30+0,092d30+100&0+0,1+100 */
background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), $green 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),$green 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to left, rgba(0, 0, 0, 0),$green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00092d30', endColorstr='#092d30',GradientType=1 ); /* IE6-0 */
}

.gradient_green_right {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#092d30+0,092d30+100&1+0,0+100 */
background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), $green 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), $green 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0, 0, 0, 0), $green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#092d30', endColorstr='#00092d30',GradientType=1 ); /* IE6-0 */
}

.gradient_green_45 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3f3f+0,ffffff+100&1+0,0+100 */
background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0), $green 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0),$green 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(0, 0, 0, 0),$green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$green', endColorstr='#00ffffff',GradientType=1 ); /* IE6-0 fallback on horizontal gradient */

}

.gradient_green_-45 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,7db9e8+100&0+0,1+100 */
background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0), $green 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0),$green 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(0, 0, 0, 0),$green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='$green',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


// white
.gradient_white_top {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#092d30+1,092d30+100&1+0,0+100 */
background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), $white 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), $white 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to top, rgba(0, 0, 0, 0), $white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#092d30', endColorstr='#00092d30',GradientType=0 ); /* IE6-0 */
}

.gradient_white_bottom {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#092d30+1,092d30+100&0+0,1+100 */
background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), $white 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), $white 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00092d30', endColorstr='#092d30',GradientType=0 ); /* IE6-0 */
}

.gradient_white_left {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#092d30+0,092d30+100&0+0,1+100 */
background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), $white 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),$white 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to left, rgba(0, 0, 0, 0),$white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00092d30', endColorstr='#092d30',GradientType=1 ); /* IE6-0 */
}

.gradient_white_right {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#092d30+0,092d30+100&1+0,0+100 */
background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), $white 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), $white 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0, 0, 0, 0), $white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#092d30', endColorstr='#00092d30',GradientType=1 ); /* IE6-0 */
}

.gradient_white_45 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3f3f+0,ffffff+100&1+0,0+100 */
background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0), $white 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0),$white 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(0, 0, 0, 0),$white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='#00ffffff',GradientType=1 ); /* IE6-0 fallback on horizontal gradient */

}

.gradient_white_-45 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,7db9e8+100&0+0,1+100 */
background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0), $white 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0),$white 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(0, 0, 0, 0),$white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='$white',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

// yellow
.gradient_yellow_top {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#092d30+1,092d30+100&1+0,0+100 */
background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), $yellow 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), $yellow 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to top, rgba(0, 0, 0, 0), $yellow 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#092d30', endColorstr='#00092d30',GradientType=0 ); /* IE6-0 */
}

.gradient_yellow_bottom {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#092d30+1,092d30+100&0+0,1+100 */
background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), $yellow 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), $yellow 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $yellow 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00092d30', endColorstr='#092d30',GradientType=0 ); /* IE6-0 */
}

.gradient_yellow_left {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#092d30+0,092d30+100&0+0,1+100 */
background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), $yellow 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),$yellow 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to left, rgba(0, 0, 0, 0),$yellow 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00092d30', endColorstr='#092d30',GradientType=1 ); /* IE6-0 */
}

.gradient_yellow_right {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#092d30+0,092d30+100&1+0,0+100 */
background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), $yellow 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), $yellow 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0, 0, 0, 0), $yellow 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#092d30', endColorstr='#00092d30',GradientType=1 ); /* IE6-0 */
}

.gradient_yellow_45 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3f3f+0,ffffff+100&1+0,0+100 */
background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0), $yellow 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0),$yellow 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(0, 0, 0, 0),$yellow 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$yellow', endColorstr='#00ffffff',GradientType=1 ); /* IE6-0 fallback on horizontal gradient */

}

.gradient_yellow_-45 {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,7db9e8+100&0+0,1+100 */
background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0), $yellow 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0),$yellow 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(0, 0, 0, 0),$yellow 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='$yellow',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
