// desktop
@media (min-width: 1025px) {

  #main {
    h1 {
      font-size: 12.5vh;
      letter-spacing: -1.5625vh;
    }
    h2 {
      font-size: 10.9375vh;
      letter-spacing: -0.78125vh;
    }
    h3 {
      font-size: 9.375vh;
      letter-spacing: -0.390625vh;
    }
    h4 {
      font-size: 7.8125vh;
      letter-spacing: -0.1953125vh;
    }
    h5 {
      font-size: 6.25vh;
      letter-spacing: -0.1953125vh;
    }
    h6 {
      font-size: 4.6875vh;
      letter-spacing: -0.1953125vh;
    }
    p {
      font-size: 3.125vh;
      letter-spacing: -0.1953125vh;
    }
  }
  #db_users {

    .user_post {
      position: relative;
      width: 100%;

      .post_image {
        object-fit: cover;
        position: relative;
        width: 100%;
        height: 25vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      };

      .user_post_title {
        text-align: left;
        background: $grey;
        color: $white;
          p {
            font-size: 12.5vh;
            letter-spacing: -1.5625vh;
          }
      }

      .user_post_hide {
        text-align: left;
        background: $white;
        color: $grey;
          p {
            font-size: 12.5vh;
            letter-spacing: -1.5625vh;
          }
      }

      .user_post_show {
        width: 100%;
        text-align: left;
        background: $grey;
        color: $white;

          p {
            font-size: 12.5vh;
            letter-spacing: -1.5625vh;
          }

      }

      .user_post_info {
        width: 100%;
        text-align: left;
        background: $grey;
        color: $white;

        p {
          font-size: 3.125vh;
          letter-spacing: -0.1953125vh;
        }

      }

    }

  }
};

// mobile
@media (max-width: 1024px) {

  #main {

    .tab {
      float: left;
      position: relative;
      width: 12.5%;
      height: 12.5vw;
    };

    h1 {
      font-size: 12.5vw;
      letter-spacing: -1.5625vw;
    }
    h2 {
      font-size: 10.9375vw;
      letter-spacing: -0.78125vw;
    }
    h3 {
      font-size: 9.375vw;
      letter-spacing: -0.390625vw;
    }
    h4 {
      font-size: 7.8125vw;
      letter-spacing: -0.1953125vw;
    }
    h5 {
      font-size: 6.25vw;
      letter-spacing: -0.1953125vw;
    }
    h6 {
      font-size: 4.6875vw;
      letter-spacing: -0.1953125vw;
    }
    p {
      font-size: 3.125vw;
      letter-spacing: -0.1953125vw;
    }
  }
  #db_users {

    .user_post {
      position: relative;
      width: 100%;

      .user_post_title {
        position: relative;
        width: 100%;
        text-align: left;
        background: $grey;
        color: $white;
          p {
            font-size: 6.25vw;
            letter-spacing: -0.1953125vw;
          }
      }

      .post_featured_image {
        object-fit: cover;
        position: relative;
        width: 100%;
        height: 50vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      };

      .post_author_image {
        float: left;
        object-fit: cover;
        position: relative;
        width: 12.5%;
        height: 12.5vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 100%;
        overflow: hidden;
      };

      .user_post_author_image_block {
        float: left;
        position: relative;
        width: 100%;
        text-align: left;
        background: $pink;
        color: $white;


          .user_post_author {
            position: relative;
            width: 100%;
            height: 3.125vw;
            text-align: left;
            background: $grey;
            color: $white;
            float: left;
          }

      }

      .user_post_author_block {
        float: left;
        position: relative;
        width: 75%;
            height: 12.5vw;
        overflow: hidden;
        text-align: left;
        background: $grey;
        color: $white;
          .user_post_username {
            width: 16.6666666667%;
          font-size: 3.125vw;
          letter-spacing: -0.1953125vw;
            float: left;
          };
          .user_post_time {
            width: 16.6666666667%;
          font-size: 3.125vw;
          letter-spacing: -0.1953125vw;
            float: left;
          };
      }

      .user_post_flag_block {
        float: left;
        position: relative;
        width: 12.5%;
        text-align: left;
        background: $white;
        color: $white;
      }

      .user_post_stats {
        position: relative;
        width: 100%;
        text-align: left;
        background: $grey;
        color: $white;
        float: left;

          .user_post_stat_1 {
            width: 16.6666666667%;
          font-size: 3.125vw;
          line-height: 6.25vw;
          height: 12.5vw;
          letter-spacing: -0.1953125vw;
            float: left;
            background: $pink;
            color: $white;
          };

          .user_post_stat_2 {
            width: 16.6666666667%;
          font-size: 3.125vw;
          line-height: 6.25vw;
          height: 12.5vw;
          letter-spacing: -0.1953125vw;
            float: left;
            background: $purple;
            color: $white;
          };

          .user_post_stat_3 {
            width: 16.6666666667%;
          font-size: 3.125vw;
          line-height: 6.25vw;
          height: 12.5vw;
          letter-spacing: -0.1953125vw;
            float: left;
            background: $orange;
            color: $white;
          };

          .user_post_stat_4 {
            width: 16.6666666667%;
          font-size: 3.125vw;
          line-height: 6.25vw;
          height: 12.5vw;
          letter-spacing: -0.1953125vw;
            float: left;
            background: $green;
            color: $white;
          };

          .user_post_stat_5 {
            width: 16.6666666667%;
          font-size: 3.125vw;
          line-height: 6.25vw;
          height: 12.5vw;
          letter-spacing: -0.1953125vw;
            float: left;
            background: $yellow;
            color: $white;
          };

          .user_post_stat_6 {
            width: 16.6666666667%;
          font-size: 3.125vw;
          line-height: 6.25vw;
          height: 12.5vw;
          letter-spacing: -0.1953125vw;
            float: left;
            background: $blue;
            color: $white;
          };

      };

      .post_image {
        object-fit: cover;
        position: relative;
        width: 100%;
        height: 25vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      };

      .user_post_hide {
        text-align: left;
        background: $white;
        color: $grey;
          p {
            font-size: 12.5vw;
            letter-spacing: -1.5625vw;
          }
      }

      .user_post_show {
        width: 100%;
        text-align: left;
        background: $grey;
        color: $white;

      }

      .user_post_info_1 {
        position: relative;
        float: left;
        width: 100%;
        height: 3.125vw;
        text-align: left;

        p {
          font-size: 3.125vw;
          letter-spacing: -0.1953125vw;
          background: $white;
          color: $black;
        }

      }
      .user_post_info_2 {
        position: relative;
        float: left;
        width: 100%;
        height: 3.125vw;
        text-align: left;

        p {
          font-size: 3.125vw;
          letter-spacing: -0.1953125vw;
          background: $white;
          color: $black;
        }

      }

    }

  }

};
