
.easing_0025{
-webkit-transition: all 25ms cubic-bezier(0.25, 0.25, 0.25, 0.25); 
   -moz-transition: all 25ms cubic-bezier(0.25, 0.25, 0.25, 0.25); 
     -o-transition: all 25ms cubic-bezier(0.25, 0.25, 0.25, 0.25); 
        transition: all 25ms cubic-bezier(0.25, 0.25, 0.25, 0.25); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.25, 0.25, 0.25, 0.25); 
   -moz-transition-timing-function: cubic-bezier(0.25, 0.25, 0.25, 0.25); 
     -o-transition-timing-function: cubic-bezier(0.25, 0.25, 0.25, 0.25); 
        transition-timing-function: cubic-bezier(0.25, 0.25, 0.25, 0.25); /* linear */
}

.easing_005 {
-webkit-transition: all 50ms cubic-bezier(0.50, 0.50, 0.50, 0.50); 
   -moz-transition: all 50ms cubic-bezier(0.50, 0.50, 0.50, 0.50); 
     -o-transition: all 50ms cubic-bezier(0.50, 0.50, 0.50, 0.50); 
        transition: all 50ms cubic-bezier(0.50, 0.50, 0.50, 0.50); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.50, 0.50, 0.50, 0.50); 
   -moz-transition-timing-function: cubic-bezier(0.50, 0.50, 0.50, 0.50); 
     -o-transition-timing-function: cubic-bezier(0.50, 0.50, 0.50, 0.50); 
        transition-timing-function: cubic-bezier(0.50, 0.50, 0.50, 0.50); /* linear */
}


.easing_01 {
-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
   -moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
     -o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
        transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
   -moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
     -o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
        transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); /* linear */
}


.easing_02 {
-webkit-transition: all 200ms cubic-bezier(0.200, 0.200, 0.200, 0.200); 
   -moz-transition: all 200ms cubic-bezier(0.200, 0.200, 0.200, 0.200); 
     -o-transition: all 200ms cubic-bezier(0.200, 0.200, 0.200, 0.200); 
        transition: all 200ms cubic-bezier(0.200, 0.200, 0.200, 0.200); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.200, 0.200, 0.200, 0.200); 
   -moz-transition-timing-function: cubic-bezier(0.200, 0.200, 0.200, 0.200); 
     -o-transition-timing-function: cubic-bezier(0.200, 0.200, 0.200, 0.200); 
        transition-timing-function: cubic-bezier(0.200, 0.200, 0.200, 0.200); /* linear */
}


.easing_025 {
-webkit-transition: all 250ms cubic-bezier(0.250, 0.250, 0.250, 0.250); 
   -moz-transition: all 250ms cubic-bezier(0.250, 0.250, 0.250, 0.250); 
     -o-transition: all 250ms cubic-bezier(0.250, 0.250, 0.250, 0.250); 
        transition: all 250ms cubic-bezier(0.250, 0.250, 0.250, 0.250); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.250, 0.250); 
   -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.250, 0.250); 
     -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.250, 0.250); 
        transition-timing-function: cubic-bezier(0.250, 0.250, 0.250, 0.250); /* linear */
}

.easing_05 {
-webkit-transition: all 500ms cubic-bezier(0.500, 0.500, 0.500, 0.500); 
   -moz-transition: all 500ms cubic-bezier(0.500, 0.500, 0.500, 0.500); 
     -o-transition: all 500ms cubic-bezier(0.500, 0.500, 0.500, 0.500); 
        transition: all 500ms cubic-bezier(0.500, 0.500, 0.500, 0.500); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.500, 0.500, 0.500, 0.500); 
   -moz-transition-timing-function: cubic-bezier(0.500, 0.500, 0.500, 0.500); 
     -o-transition-timing-function: cubic-bezier(0.500, 0.500, 0.500, 0.500); 
        transition-timing-function: cubic-bezier(0.500, 0.500, 0.500, 0.500); /* linear */
}



.easing_075 {
-webkit-transition: all 750ms cubic-bezier(0.750, 0.750, 0.750, 0.750); 
   -moz-transition: all 750ms cubic-bezier(0.750, 0.750, 0.750, 0.750); 
     -o-transition: all 750ms cubic-bezier(0.750, 0.750, 0.750, 0.750); 
        transition: all 750ms cubic-bezier(0.750, 0.750, 0.750, 0.750); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.750, 0.750, 0.750, 0.750); 
   -moz-transition-timing-function: cubic-bezier(0.750, 0.750, 0.750, 0.750); 
     -o-transition-timing-function: cubic-bezier(0.750, 0.750, 0.750, 0.750); 
        transition-timing-function: cubic-bezier(0.750, 0.750, 0.750, 0.750); /* linear */
}

.easing_1 {
-webkit-transition: all 1000ms cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); 
   -moz-transition: all 1000ms cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); 
     -o-transition: all 1000ms cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); 
        transition: all 1000ms cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); 
   -moz-transition-timing-function: cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); 
     -o-transition-timing-function: cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); 
        transition-timing-function: cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); /* linear */
}

.easing_1025 {
-webkit-transition: all 1250ms cubic-bezier(0.1250, 0.1250, 0.1250, 0.1250); 
   -moz-transition: all 1250ms cubic-bezier(0.1250, 0.1250, 0.1250, 0.1250); 
     -o-transition: all 1250ms cubic-bezier(0.1250, 0.1250, 0.1250, 0.1250); 
        transition: all 1250ms cubic-bezier(0.1250, 0.1250, 0.1250, 0.1250); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.1250, 0.1250, 0.1250, 0.1250); 
   -moz-transition-timing-function: cubic-bezier(0.1250, 0.1250, 0.1250, 0.1250); 
     -o-transition-timing-function: cubic-bezier(0.1250, 0.1250, 0.1250, 0.1250); 
        transition-timing-function: cubic-bezier(0.1250, 0.1250, 0.1250, 0.1250); /* linear */
}

.easing_2 {
-webkit-transition: all 2000ms cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); 
   -moz-transition: all 2000ms cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); 
     -o-transition: all 2000ms cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); 
        transition: all 2000ms cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); 
   -moz-transition-timing-function: cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); 
     -o-transition-timing-function: cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); 
        transition-timing-function: cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); /* linear */
}

.easing_3 {
-webkit-transition: all 3000ms cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); 
   -moz-transition: all 3000ms cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); 
     -o-transition: all 3000ms cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); 
        transition: all 3000ms cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); 
   -moz-transition-timing-function: cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); 
     -o-transition-timing-function: cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); 
        transition-timing-function: cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); /* linear */
}

.easing_4 {
-webkit-transition: all 4000ms cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); 
   -moz-transition: all 4000ms cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); 
     -o-transition: all 4000ms cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); 
        transition: all 4000ms cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); 
   -moz-transition-timing-function: cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); 
     -o-transition-timing-function: cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); 
        transition-timing-function: cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); /* linear */
}

.easing_5 {
-webkit-transition: all 5000ms cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); 
   -moz-transition: all 5000ms cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); 
     -o-transition: all 5000ms cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); 
        transition: all 5000ms cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); 
   -moz-transition-timing-function: cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); 
     -o-transition-timing-function: cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); 
        transition-timing-function: cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); /* linear */
}

.easing_6 {
-webkit-transition: all 6000ms cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); 
   -moz-transition: all 6000ms cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); 
     -o-transition: all 6000ms cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); 
        transition: all 6000ms cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); 
   -moz-transition-timing-function: cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); 
     -o-transition-timing-function: cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); 
        transition-timing-function: cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); /* linear */
}
