body.dark {
	color: $white;
    background: $grey;
}

#modal_pop_right {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	top:0;
	left:100%;
	bottom:0;
	z-index: 1;

-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
   -moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
     -o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
        transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
   -moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
     -o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
        transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);
}

.modal_pop_right #modal_pop_right {
	top:0;
	left:0%;
	bottom:0;
}

#modal_pop_left {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	top:0;
	right:100%;
	bottom:0;
	z-index: 1;

-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
   -moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
     -o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
        transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
   -moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
     -o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
        transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);
}

.modal_pop_left #modal_pop_left {
	top:0;
	right:0%;
	bottom:0;
}

#modal_pop_top {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	right:0;
	bottom:100%;
	left:0;
	z-index: 1;

-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
   -moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
     -o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
        transition: all 100ms cubic-bezier(.100, .100, .100, .100);

-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
   -moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
     -o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
        transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_pop_top #modal_pop_top {
	right:0;
	bottom:0%;
	left:0;
}

#modal_pop_bottom {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	right:0;
	top:100%;
	left:0;
	z-index: 1;

-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
   -moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
     -o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
        transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
   -moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
     -o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
        transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);
}

.modal_pop_bottom #modal_pop_bottom {
	right:0;
	top:0%;
	left:0;
}

.is_Mobile {
	
	#post {
		position: relative;
		float: left;
		margin: auto;
		width: 100%;

		h1 {
		font-family: serif;
		color: $black;
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h2 {
		font-family: serif;
		color: $black;
		font-size: 9vw;
		line-height: 9vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h3 {
		font-family: serif;
		color: $black;
		font-size: 8vw;
		line-height: 8vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h4 {
		font-family: serif;
		color: $black;
		font-size: 7vw;
		line-height: 7vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h5 {
		font-family: serif;
		color: $black;
		font-size: 6vw;
		line-height: 6vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h6 {
		font-family: serif;
		color: $black;
		font-size: 5vw;
		line-height: 5vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		p {
		font-family: serif;
		color: $grey;
		font-size: 4vw;
		line-height: 4vw;
		letter-spacing: -.5vw;
		width: 100%;
		text-align: center;
		float: left;
		word-break: break-word;
		}

		a {
		font-family: serif;
		color: $grey;
		font-size: 3vw;
		line-height: 3vw;
		letter-spacing: -.25vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		button {
		  letter-spacing: -.25vw;
		};
		
		.feat_img {
			background: $grey;
			height: 25vw;
			width: 100%;
			float: left;

			.container {
				//padding: 2vw;
				background: $white;
				border: 1vw solid $grey;
				width: calc(100% - 2vw);
				height: calc(100% - 2vw);
			}

		}
	}
	
	#posts_filtered_container {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#posts_filtered {
		width: 100%;
		margin: 0vw;
	}

	#posts_all_container {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#posts_all {
		width: 100%;
		margin: 0vw;
	}
	
	#firebase {
		width: 100%;
		float: left;
	}

	progress {
		width: 100%;
		float: left;
	}

	#modal-signup {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#signup-form {
		width: 100%;
		margin: 0vw;
	}

	#modal-signin {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#signin-form {
		width: 100%;
		margin: 0vw;
	}

	#modal-account {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#account-form {
		width: 100%;
		margin: 0vw;
	}

	#modal-create {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#create-form {
		width: 100%;
		margin: 0vw;
	}

	#modal-edit {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#edit-form {
		width: 100%;
		margin: 0vw;
	}

	.info_scroll_y {
		background: $white;
		position: relative;
		float: left;
		margin: auto;
		width: 100%;
		height: 100vh;

		.container {
			//padding: 2vw;
			//border: 1vw solid $grey;
			width: calc(100%);
			height: calc(100%);
		}
	}

	.element_overflow_x_scene {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		position: relative;
		float: left;
		margin: auto;
		height: 100%;
		width: 100vw;
	}

	#info_scroll_mix {
	    position: relative;
	    float: left;
	    margin: auto;
	    height: 100vh;
	    width: 100%;
	}

	#preview_info_scroll_x {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		background: $grey;
		top: 0;
		right: 0;
		position: absolute;
		float: left;
		margin: auto;
		height: 25vw;
		width: 75vw;

	}
	#preview_info_scroll_y {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		background: $grey;
		bottom: 0;
		left: 0;
		position: absolute;
		float: left;
		margin: auto;
		height: 100vh;
		width: 25vw;
	}

	#preview_info_scroll_y_2 {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		background: $grey;
		top: 25vw;
		right: 0;
		position: absolute;
		float: left;
		margin: auto;
		width: 12.5vw;
		height: calc(100% - 25vw);
		
	}

	#info_scroll_y_text {
		width: 100%;
		height: 100vh;
		float: left;	
		background: $white;
		margin: auto;
		position: relative;

		.container {
			overflow-y: scroll;
			border: 1vw solid $grey;
			width: calc(100% - 2vw);
			height: calc(100% - 2vw);
		}
	}

	.info_scroll_x {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		position: relative;
		float: left;
	}

	#shot_1 {
				border: 1vw solid $grey;
				width: calc(100% - 2vw);
				height: calc(100% - 2vw);
	}

	#interactions_button_1 {
	  position: fixed;
	  left: 0;
	  top: 0;
	  margin: auto;
	  width: 12.5%;
	  height: 12.5vh;
	  float: left;
	  z-index: 1;
	}

	#interactions_button_2 {
	  position: fixed;
	  right: 0;
	  top: 0;
	  margin: auto;
	  width: 12.5%;
	  height: 12.5vh;
	  float: left;
	  z-index: 1;
	}

	#interactions_button_3 {
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  margin: auto;
	  width: 12.5%;
	  height: 12.5vh;
	  float: left;
	  z-index: 1;
	}

	#interactions_button_4 {
	  position: fixed;
	  right: 0;
	  bottom: 0;
	  margin: auto;
	  width: 12.5%;
	  height: 12.5vh;
	  float: left;
	  z-index: 1;
	}

	#create_button, #edit_button, #signout, #delete_button, #signin, #signup_submit, label {
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;	
		background: $grey;
		color: $white;	
	}

	.a_big {
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;	
		background: $grey;
		color: $white;	
	}

	.p_big{
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		color: $grey;	
	}
	
};

.is_Desktop.card #post {
	position: relative;
	float: left;
	margin: auto;
	width: 33%;
};

.is_Desktop.numbered #post {
	position: relative;
	float: left;
	margin: auto;
	width: 100%;
};

.is_Desktop.list #post {
	position: relative;
	float: left;
	margin: auto;
	width: 50%;
};

.is_Desktop.read #post {
	position: relative;
	float: left;
	margin: auto;
	width: 25%;
};

.is_Desktop.fifth #post {
	position: relative;
	float: left;
	margin: auto;
	width: 20%;
};

.is_Desktop.sixth #post {
	position: relative;
	float: left;
	margin: auto;
	width: 16.666%;
};

.is_Desktop.eighth #post {
	position: relative;
	float: left;
	margin: auto;
	width: 12.5%;
};

.is_Desktop {

	#post {
		position: relative;
		float: left;
		margin: auto;
		width: 100%;

		
		h1 {
		font-family: serif;
		color: $black;
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h2 {
		font-family: serif;
		color: $black;
		font-size: 9vw;
		line-height: 9vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h3 {
		font-family: serif;
		color: $black;
		font-size: 8vw;
		line-height: 8vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h4 {
		font-family: serif;
		color: $black;
		font-size: 7vw;
		line-height: 7vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h5 {
		font-family: serif;
		color: $black;
		font-size: 6vw;
		line-height: 6vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h6 {
		font-family: serif;
		color: $black;
		font-size: 5vw;
		line-height: 5vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		p {
		font-family: serif;
		color: $grey;
		font-size: 4vw;
		line-height: 4vw;
		letter-spacing: -.5vw;
		width: 100%;
		text-align: center;
		float: left;
		word-break: break-word;
		}

		a {
		font-family: serif;
		color: $grey;
		font-size: 3vw;
		line-height: 3vw;
		letter-spacing: -.25vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		button {
		  letter-spacing: -.25vw;
		};

		.feat_img {
			background: $grey;
			height: 25vw;
			width: 100%;
			float: left;

			.container {
				//padding: 2vw;
				background: $white;
				border: 1vw solid $grey;
				width: calc(100% - 2vw);
				height: calc(100% - 2vw);
			}

		}
	}

	#posts_filtered_container {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#posts_filtered {
		width: 50%;
		margin: 25vw;
	}

	#posts_all_container {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#posts_all {
		width: 50%;
		margin: 25vw;
	}
	
	#firebase {
		width: 100%;
		float: left;
	}

	progress {
		width: 100%;
		float: left;
	}

	#modal-signup {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#signup-form {
		width: 50%;
		margin: 25vw;
	}

	#modal-signin {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#signin-form {
		width: 50%;
		margin: 25vw;
	}

	#modal-account {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#account-form {
		width: 50%;
		margin: 25vw;
	}

	#modal-create {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#create-form {
		width: 50%;
		margin: 25vw;
	}

	#modal-edit {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#edit-form {
		width: 50%;
		margin: 25vw;
	}

	#info_scroll_y {
		background: $white;
		position: relative;
		float: left;
		margin: auto;
		width: 100%;
		height: 100vh;

		.container {
			padding: 2vw;
			border: 1vw solid $grey;
			width: calc(100% - 6vw);
			height: calc(100% - 6vw);
		}
	}

	.element_overflow_x_scene {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		position: relative;
		float: left;
		margin: auto;
		height: 100%;
		width: 100vw;
	}

	#info_scroll_mix {
	    position: relative;
	    float: left;
	    margin: auto;
	    height: 100vh;
	    width: 100%;
	}

	#preview_info_scroll_x {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		background: $grey;
		top: 0;
		right: 0;
		position: absolute;
		float: left;
		margin: auto;
		height: 25vw;
		width: 75vw;

	}
	#preview_info_scroll_y {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		background: $grey;
		bottom: 0;
		left: 0;
		position: absolute;
		float: left;
		margin: auto;
		height: 100vh;
		width: 25vw;
	}

	#preview_info_scroll_y_2 {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		background: $grey;
		top: 25vw;
		right: 0;
		position: absolute;
		float: left;
		margin: auto;
		width: 12.5vw;
		height: calc(100% - 25vw);
		
	}

	#info_scroll_y_text {
		width: 100%;
		height: 100vh;
		float: left;	
		background: $white;
		margin: auto;
		position: relative;
		
		.container {
			overflow-y: scroll;
			padding: 2vw;
			border: 1vw solid $grey;
			width: calc(100% - 6vw);
			height: calc(100% - 6vw);
		}
	}

	.info_scroll_x {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		position: relative;
		float: left;
	}

	#shot_1 {
				border: 1vw solid $grey;
				width: calc(100% - 2vw);
				height: calc(100% - 2vw);
	}

	#interactions_button_1 {
	  position: fixed;
	  left: 0;
	  top: 0;
	  margin: auto;
	  width: 6.25%;
	  height: 6.25vh;
	  float: left;
	  z-index: 10;
	}

	#interactions_button_2 {
	  position: fixed;
	  right: 0;
	  top: 0;
	  margin: auto;
	  width: 6.25%;
	  height: 6.25vh;
	  float: left;
	  z-index: 10;
	}

	#interactions_button_3 {
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  margin: auto;
	  width: 6.25%;
	  height: 6.25vh;
	  float: left;
	  z-index: 10;
	}

	#interactions_button_4 {
	  position: fixed;
	  right: 0;
	  bottom: 0;
	  margin: auto;
	  width: 6.25%;
	  height: 6.25vh;
	  float: left;
	  z-index: 10;
	}

	#create_button, #edit_button, #signout, #delete_button, #signin, #signup_submit, label {
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;	
		background: $grey;
		color: $white;	
	}
	
	.a_big {
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;	
		background: $grey;
		color: $white;	
	}

	.p_big{
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		color: $grey;	
	}

};
