body {
	background: #f5f5f5;
	font-family: serif;
  text-align: center;
}

.author_info p {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.author_info a {
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  background: #ff0052;
}

.team {
  width: 25%;
  height: 400px;
  float: left;
}

.team h2 {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.about h2 {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.header {
    display: inline-block;
    width: 100%;
    float: left;
}

.content-area {
    display: inline-block;
    width: 100%;
    float: left;
}

.author h1.page-title {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.author h1.page-title span {
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  background: #ff0052;
}

.search h1.page-title {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.search h1.page-title span {
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  background: #ff0052;
}

.category h1.page-title {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.category h1.page-title span {
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  background: #ff0052;
}

.tag h1.page-title {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.tag h1.page-title span {
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  background: #ff0052;
}

.components-post-author {
  background: #ffffff;
}

/* preview */
.components-post-info-preview .components-post-author {
}

.components-post-info-preview .components-post-author a.author-details-background-image {
  width: 48px;
  height: 48px;
  float: left;
}

.components-post-info-preview .author-details-background-image img {
  width: 48px;
  height: 48px;
}

.components-post-info-preview .components-post-author a {
  line-height: 48px;
  font-size: 24px;
  color: #ff0052;
}

.components-post-info-preview .components-post-title h2 {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;  
}

.components-post-info-preview .subtitle p {
  font-size: 24px;
  line-height: 24px;
  color: #ff0052;  
}

.components-post-info-preview .excerpt p {
  font-size: 24px;
  line-height: 24px;
  color: #ff0052;  
}

.components-post-info-preview .entry-date {
  font-size: 24px;
  line-height: 24px;
  color: #ff0052;  
}

.components-post-info-preview .entry-views {
  font-size: 24px;
  line-height: 24px;
  color: #ff0052;  
}

.components-post-info-preview .formats p {
  font-size: 24px;
  line-height: 24px;
  color: #ff0052;  
}

.components-post-info-preview .entry-cats-container a {
  font-size: 24px;
  line-height: 24px;
  color: #ff0052;  
}

.components-post-info-preview .entry-tags-container a {
  font-size: 24px;
  line-height: 24px;
  color: #ff0052;  
}

.components-post-info-preview .edit a {
  line-height: 24px;
  font-size: 24px;
  color: #ff0052;  
}

.components-post-info-preview .entry-thumbnail-bg img {
  height: auto;
  min-width: -webkit-fill-available;
  display: block;
  max-width: 100%;
}

/* single */
.single-post .components-post-thumbnail img {
  height: auto;
  min-width: -webkit-fill-available;
  display: block;
  max-width: 100%;
}

.single-post .components-post-author a.author-details-background-image {
  width: 48px;
  height: 48px;
  float: left;
}

.single-post .author-details-background-image img {
  width: 48px;
  height: 48px;
}

.single-post .components-post-author a {
  line-height: 48px;
  font-size: 24px;
  color: #ff0052;
}

.single-post h1.entry-title {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;  
}

.single-post .subtitle {
  display: inline-block;
  width: 100%;
}

.single-post .subtitle p {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;  
  background: #ff0052;  
}

.single-post .excerpt p {
  font-size: 24px;
  line-height: 24px;
  color: #ff0052;  
}

.single-post .entry-date {
  font-size: 24px;
  line-height: 24px;
  color: #ff0052;  
}

.single-post .entry-views {
  font-size: 24px;
  line-height: 24px;
  color: #ff0052;  
}

.single-post .formats p {
  font-size: 24px;
  line-height: 24px;
  color: #ff0052;  
}

.single-post .entry-cats-container a {
  font-size: 24px;
  line-height: 24px;
  color: #ff0052;  
}

.single-post .entry-tags-container a {
  font-size: 24px;
  line-height: 24px;
  color: #ff0052;  
}

.single-post .entry-content {
  background: #ffffff;
}

.single-post .entry-content h1 {
  font-size: 48px;
  line-height: 48px;
  color: #ff0052;
}

.single-post .entry-content h2 {
  font-size: 36px;
  line-height: 48px;
  color: #ff0052;
}

.single-post .entry-content p {
  font-size: 24px;
  line-height: 36px;
  color: #242424;
}

/* post preview */

.home .post:nth-child(1) {
  width: 100%;
  float: left;
}

.home .post:nth-child(2) {
  width: 33.33333%;
  float: left;
}

.home .post:nth-child(3) {
  width: 33.33333%;
  float: left;
}

.home .post:nth-child(4) {
  width: 33.33333%;
  float: left;
  clear: right;
}

.home .post:nth-child(5) {
  width: 50%;
  float: left;
}

.home .post:nth-child(6) {
  width: 50%;
  float: left;
  clear: right;
}

.home .post:nth-child(7) {
  width: 50%;
  float: left;
  clear: right;
}


/* input */


input, textarea, select, a { outline: none; }

input {
  width: -webkit-fill-available;
  border-radius: 0px;
}

.copy_Link input {
  outline: none;
  text-align: center;
  box-shadow: none;
  border: none;
  padding: 0;
  line-height: 48px;
  font-size: 24px;
  background: #ffffff;
  color: #000000;
  font-family: serif;
}

.copy_Link input:focus{
  outline: none;
  text-align: center;
  box-shadow: none;
  border: none;
  padding: 0;
  background: #000000;
  color: #ffffff;
}

/* style */
#search {
  width: 100%;
  border: 1px solid #000;
}

.searchInput input#s {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  width: -webkit-fill-available;
  border-radius: 0px;
  outline: none;
  text-align: center;
  box-shadow: none;
  border: none;
  padding: 0;
  line-height: 48px;
  font-size: 24px;
  background: #141414;
  color: #000000;
  font-family: serif;
}

.searchInput input#s:focus{
  outline: none;
  text-align: center;
  box-shadow: none;
  border: none;
  padding: 0;
  background: #000000;
  color: #ffffff;
}

::placeholder {
  opacity: 1; 
  text-align: center;
  color: #cccccc !important;
}

:-ms-input-placeholder {
  text-align: center;
  color: #cccccc !important;
}

::-ms-input-placeholder {
  text-align: center;
  color: #cccccc !important;
}

.main-navigation {
  float: left;
  width: 100%;
  font-size: 96px;
  line-height: 152px;
  text-align: center;
  background: #242424;
  color: #ffffff;
}

.site-links .searchInput {
  display: flex;
  float: left;
}

.searchTitle {
    text-align: center;
    font-size: 48px;
}

.searchTitle a {
  text-decoration: none;
}

.searchTitle a h1 .brand {
  font-size: 96px;
  line-height: 152px;
  margin: 0px;
}

.searchTitle a .brand {
  color: #fff;
}

.searchTitle a .dotcom {
  color: #fff;
  font-size: 24px;
}

.searchMessage p {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
}

.searchMessage a {
  text-decoration: none;
    color: #ff0052;
}

.searchContainer {
  display: inline-grid;
  position: relative;
  width: 100%;
  height: calc(100vh - 48px);
  min-height: 480px;
  background: #242424;
}

.searchPosition {
  display: inline-grid;
  position: relative;
  margin: auto;
}

.searchInput {
  display: flex;
}

.searchform {
  display: contents;
}

.searchInput #searchsubmit {
  border: none;
  margin: auto;
  width: -webkit-fill-available;
  float: left;
  font-size: 24px;
  line-height: 48px;
  padding: 0;
  background: #141414;
  color: #ff0052;
}

.searchInput #searchsubmit:focus, button:focus, {
    outline: none;
    box-shadow: none;
    background-color: #ffed00 !important;
}

.searchButtons {
  display: flex;
}

.searchButtons button {
  border: none;
  margin: auto;
  float: left;
  font-size: 24px;
  line-height: 48px;
  width: 50%;
  padding: 0;
  background: #242424;
  color: #ffffff;
}

.site-tagline {
    width: 100%;
    text-align: center;
    background: #242424;
    clear: both;
    float: left;
}

.site-tagline a, .site-tagline p {
  color: #ffffff;
  font-size: 24px;
  line-height: 48px;
}

article:nth-child(odd) {
}

article:nth-child(even) {
}

.width_max {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.nav-next a {
  color: #ffffff;
  text-decoration: none;
}

.site-menu {
    width: 100%;
    text-align: center;
    background: #242424;
    clear: both;
    float: left;
}

.site-menu a, .site-menu p {
  color: #141414;
  font-size: 24px;
  line-height: 48px;
}

.site-links {
    width: 100%;
    text-align: center;
    background: #242424;
    clear: both;
    float: left;
}

.site-links a, .site-links p {
  color: #ffffff;
  font-size: 24px;
  line-height: 48px;
}

.site-link-catgeory-left {
  float: left;
}

.site-link-catgeory-right {
  float: right;
}

.thumbnail-bg {
  height: 480px;
  background-position: center;
  background-size: cover;
}

.single_meta {
  display: inline-block;
  width: 100%;
}

.single_meta .flat {
  margin: auto;
    display: inline-block;
}

/* ad inserter */

.code-block {
  margin: auto !important;
  width: 100%;
  clear: both !important;
  max-width: 100vw;
    background: #242424;
}

.wp-block-embed iframe {
    height: auto;
    width: -webkit-fill-available;
    display: block;
    margin: auto;
    max-width: 480px !important;
}

.wp-block-embed-youtube iframe {
    min-height: 360px;
}

.code-block iframe {
    height: auto;
    min-height: 360px;
    width: -webkit-fill-available;
    display: block;
    margin: auto;
    max-width: 480px;
}

.single .ad-insert {
    margin: 48px 0 !important;
}

.ad-insert {
    margin: 128px 0 !important;
    width: 100%;
    clear: both;
    display: inline-flex;
}

.ad-insert iframe {
	margin: auto;
	width: 100%;
	clear: both;
	max-width: 980px;
	padding: 10px;
}

/* jetpack */
#infinite-footer {
	display: none !important;
	position: relative !important;
}

.infinite-loader {
	display: none !important;
	clear: both;
	background: #ff0052 !important;
}

div.spinner {
	display: none !important;
}

/* center embeds */
.wp-block-embed {
	margin-bottom: 0 !important;
}

.wp-block-embed__wrapper {
	display: flex;
}

.wp-block-embed__wrapper iframe, .fb_iframe_widget, .twitter-tweet, .embedly-card {
	margin: auto !important;
}

.wp-block-embed-spotify iframe {
	max-width: 548px !important;
}

/* responsive */

/**
 * desktop/tablet
*/
@media screen and (min-width: 1000px) {
}

/**
 * phone
*/
@media screen and (max-width: 1000px) {

  .width_max {
    width: 100%;
    max-width: 100%;
  }

  .searchContainer {
    height: auto;
  }

  /* post preview */

  .home .post:nth-child(1) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(2) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(3) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(4) {
    width: 100%;
    float: left;
    clear: right;
  }

  .home .post:nth-child(5) {
    width: 100%;
    float: left;
  }

  .home .post:nth-child(6) {
    width: 100%;
    float: left;
    clear: right;
  }

  .home .post:nth-child(7) {
    width: 100%;
    float: left;
    clear: right;
  }

}

h1, h2, h3. h4, h5, h6 {
	font-size: 48px;
	line-height: 48px;
  margin: 0px;
}

p {
}

a {
	line-height: 48px;
  text-decoration: none;
}

/* ui switches */
#body.ui_switch_search_true .searching_menu {
  position: relative;
  width: 100%;
  height: calc(100vh);
  background: #242424;
  float: left;
}

#body.ui_switch_search_false .searching_menu {
	display: none;
}

/* border */
.post-container {
    max-width: 1000px;
    margin: auto;
}

.components-post-info-preview {
}

.components-post-title {
}

.author-nigel .author_bg {
  width: 100%;
  height: 100vh;
  background-image: url("./jpg/nigel_1.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  float: left;
}

.author-desmond .author_bg {
  width: 100%;
  height: 100vh;
  background-image: url("./jpg/desmond_1.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  float: left;
}