body {
  background: #ffffff;
}

.thumbnail {
  
}

.info {

}

/* styling */
.site-search {
  display: none;
}

.ui_switch_searchform_true .site-search {
  display: block;
}

.wp-block-columns {
  margin-bottom: 0 !important;
}

.header {
  display: grid;
}

.site-title h1 {
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  width: 100%;
}

.site-title h2 {
	font-size: 24px;
  line-height: 48px;
  text-align: center;
  width: 100%;
}

.site-name {

}

.site-desc {

}

.site-title {
  
}

.site-meta {
  margin: auto;
  max-width: 1000px;
}

.brand  {
  margin: auto;
}

.inline-block {
  display: inline-block;
}

.grid {
	display: grid;
}

.nav-next, .nav-previous {
  width: 100%;
  font-size: 24px;
  line-height: 48px;
  display: block;
  text-align: center;
}

.nav-next a, .nav-previous a {
  text-decoration: none;
}

.width-100 {
  width: 100%;
}

::placeholder {
  opacity: 1; 
  text-align: right;
  color: #242424 !important;
}

:-ms-input-placeholder {
  text-align: right;
  color: #242424 !important;
}

::-ms-input-placeholder {
  text-align: right;
  color: #242424 !important;
}

.code-block {
  margin: 0px !important;
}

.ad-inserter {
  width: 100%;
  display: block;
  text-align: center;
  margin: 96px 0;
}

.ad-inserter-container {
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
}

.ad-inserter-center {
  width: 100%;
}

.ad-inserter p, .post .entry-content .ad-inserter p {
  font-size: 24px;
  line-height: 48px;
}

.ad-inserter iframe {
  display: block;
  margin: auto;
}

.display-webkit-box {
  display: -webkit-box;
}

/* unvisited link */
.front-end a:link {
  color: green;
}

/* visited link */
.front-end a:visited {
  color: green;
}

/* mouse over link */
.front-end a:hover {
  color: red;
}

/* selected link */
.front-end a:active {
  color: yellow;
}

/* desktop/tablet */
@media screen and (min-width: 1000px) {
  
  .post-container {
    max-width: 1000px;
    margin: auto;
  }

	.front-end article {
		min-height: 1000px;
	}

  /* title single */
  .single .posttitle {
    font-size: 96px;
  }

  .page-title {
    max-width: 1000px;
    margin: auto;
  }

  /* title not single */
  .blog .posttitle, .search .posttitle,
  .search-results .page-title, 
  .category .page-title,
  .tag .page-title {
    font-size: 48px;
    line-height: 96px;
    color: green;
  }


}

/* phone */
@media screen and (max-width: 1000px) {

  .post-container {
    max-width: 1000px;
    margin: auto;
  }

	.front-end article {
		min-height: 480px;
	}


  /* title single */
  .single .posttitle {
    font-size: 48px;
  }

  /* title not single */
  .blog .posttitle, .search .posttitle,
  .search-results .page-title, 
  .category .page-title,
  .tag .page-title {
    font-size: 48px;
    line-height: 48px;
    color: green;
  }

  .front-end .post .wp-block-embed iframe, .front-end .twitter-tweet {
    max-width: 100% !important;
    min-width: none !important;
  }

  .post-preview .post-thumbnail-bg img {
    border: 24px solid #F8F8F5;
    max-width: calc(100% - 48px);
  }


}

/* jetpack */
#infinite-footer {
  display: none !important;
  position: relative !important;
}

.infinite-loader {
  display: none !important;
  clear: both;
  background: #ff0052 !important;
}

div.spinner {
  display: none !important;
}

.post .wp-block-embed {
  margin-bottom: 0;
}

.post .wp-block-embed iframe, .twitter-tweet {
  display: block;
  margin: auto !important;
  max-width: 480px !important;
}

.post .wp-block-embed figcaption {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 24px;
  line-height: 48px;
}

.wp-block-image img {
  height: auto;
}

/* style */
.searchform #s {
  margin-top: 12px;
  width: 100%;
}

.no_content_found {
  max-width: 1000px;
  margin: auto;
}

/* ad */

.ad-inserter-half {
  width: 50%;
}

.ad-inserter iframe {
  border: 12px solid #242424;
  max-width: calc(100% - 24px);
}

td {
  padding: 0 12px 12px 0;
}

/* preview */

.post-thumbnail-bg {
  background: #242424;
}

.post-preview {
  text-align: right;
}

.post-preview .post-thumbnail-bg img {
  display: block;
  margin: auto;
  height: auto;
  width: 100%;
  border: 12px solid #F8F8F5;
  max-width: calc(100% - 24px);
}

.post-preview .posttitle {
}

.post-preview .posttitle p {
  color: #ffffff;
}

.post-preview .posttitle span {
  background: #F8F8F5;
  display: inline-block;
}

.post-preview .subtitle {
}

.post-preview .subtitle p {
  font-size: 24px;
  line-height: 48px;
  color: #ffffff;
}

.post-preview .subtitle span {
  background: #242424;
  display: inline-block;
}

.post-preview .excerpt {
}

.post-preview .excerpt p {
  font-size: 24px;
  line-height: 48px;
  color: #242424;
}

.post-preview .date {
}

.post-preview .date p {
  font-size: 24px;
  line-height: 48px;
  color: #ffffff;
}

.post-preview .date span {
  background: #242424;
  display: inline-block;
}

.post-preview .categories li, .post-preview .tags li {
  list-style: none;
}

.post-preview .categories {
}

.post-preview .categories a {
  font-size: 24px;
  line-height: 48px;
  color: #ffffff;
  background: green;
  display: inline-block;
  text-decoration: none;
}

.post-preview .tags {
}

.post-preview .tags a {
  font-size: 24px;
  line-height: 48px;
  color: #ffffff;
  background: green;
  display: inline-block;
  text-decoration: none;
}

/* single */
.post-single {
  text-align: right;
  margin: 24px 0 96px;
  padding: 0 48px;
}

.post-single .post-thumbnail-bg img {
  display: block;
  margin: auto;
  height: auto;
  width: 100%;
  border: 12px solid #F8F8F5;
  max-width: calc(100% - 24px);
}

.post-single .posttitle {
}

.post-single .posttitle p {
  color: #ffffff;
}

.post-single .posttitle span {
  background: #F8F8F5;
  display: inline-block;
}

.post-single .subtitle {
}

.post-single .subtitle p {
  font-size: 24px;
  line-height: 48px;
  color: #ffffff;
}

.post-single .subtitle span {
  background: #242424;
  display: inline-block;
}

.post-single .excerpt {
}

.post-single .excerpt p {
  font-size: 24px;
  line-height: 48px;
  color: #242424;
}

.post-single .date {
}

.post-single .date p {
  font-size: 24px;
  line-height: 48px;
  color: #ffffff;
}

.post-single .date span {
  background: #242424;
  display: inline-block;
}

.post-single .categories {
  list-style: none;
  text-align: left;
}

.post-single .categories a {
  font-size: 24px;
  line-height: 48px;
  color: #ffffff;
  background: #242424;
  display: inline-block;
  text-decoration: none;
}

.post-single .tags {
  list-style: none;
  text-align: left;
}

.post-single .tags a {
  font-size: 24px;
  line-height: 48px;
  color: #ffffff;
  background: #242424;
  display: inline-block;
  text-decoration: none;
}

.single .content {
  font-size: 24px;
  line-height: 36px;
  text-align: left;
}

.single .content p {
  margin: 0 0 12px;
}

/*
.single .content ol {
  margin: 0 0 0 12px;
  list-style: none;
}

.single .content ol li {
    counter-increment: step-counter;
}

.single .content ol li::before {
    content: counter(step-counter);
    margin: 0 0 0 12px;
}
*/
.single .content h2 {
  font-size: 36px;
  line-height: 48px;
}