
.gui_search {
    background: url("./assets/graphics/gui/gui_search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_circle {
    background: url("./assets/graphics/gui/gui_circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

// social
.gui_icon_view {
    background: url("./assets/graphics/gui/gui_icon_view.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_icon_like {
    background: url("./assets/graphics/gui/gui_icon_like.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_icon_dislike {
    background: url("./assets/graphics/gui/gui_icon_dislike.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_icon_delete {
    background: url("./assets/graphics/gui/gui_icon_delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_dots {
    background: url("./assets/graphics/gui/gui_dots.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_vert_dots {
    background: url("./assets/graphics/gui/gui_vert_dots.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_vert_colon {
    background: url("./assets/graphics/gui/gui_vert_colon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_audio {
    background: url("./assets/graphics/gui/gui_audio.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_audio_on {
    background: url("./assets/graphics/gui/gui_audio_on.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_audio_off {
    background: url("./assets/graphics/gui/gui_audio_off.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

// social
.gui_social_instagram {
    background: url("./assets/graphics/gui/gui_logo_social_instagram.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_social_twitch {
    background: url("./assets/graphics/gui/gui_logo_social_twitch.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_social_facebook {
    background: url("./assets/graphics/gui/gui_logo_social_facebook.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_social_youtube {
    background: url("./assets/graphics/gui/gui_logo_social_youtube.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_social_twitter {
    background: url("./assets/graphics/gui/gui_logo_social_twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

//paint
.gui_icon_close {
    background: url("./assets/graphics/gui/gui_icon_close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_icon_menu {
    background: url("./assets/graphics/gui/gui_icon_menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_register {
    background: url("./assets/graphics/gui/gui_text_register.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_login {
    background: url("./assets/graphics/gui/gui_text_login.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.branding_logo_mark {
    background: url("./assets/graphics/branding/logo_mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_logout {
    background: url("./assets/graphics/gui/gui_text_logout.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_key {
    background: url("./assets/graphics/gui/gui_text_key.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_scroll {
    background: url("./assets/graphics/gui/gui_text_scroll.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_mousemove {
    background: url("./assets/graphics/gui/gui_text_mousemove.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_mouseenter {
    background: url("./assets/graphics/gui/gui_text_mouseenter.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_home {
    background: url("./assets/graphics/gui/gui_text_home.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_about {
    background: url("./assets/graphics/gui/gui_text_about.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_skills {
    background: url("./assets/graphics/gui/gui_text_skills.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_abilities {
    background: url("./assets/graphics/gui/gui_text_abilities.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_services {
    background: url("./assets/graphics/gui/gui_text_services.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_library {
    background: url("./assets/graphics/gui/gui_text_library.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_workshop {
    background: url("./assets/graphics/gui/gui_text_workshop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_blog {
    background: url("./assets/graphics/gui/gui_text_blog.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_buttons {
    background: url("./assets/graphics/gui/gui_buttons.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_button_start {
    background: url("./assets/graphics/gui/gui_button_start.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_button_learn {
    background: url("./assets/graphics/gui/gui_button_learn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_button_or {
    background: url("./assets/graphics/gui/gui_button_or.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_container_tall {
    background: url("./assets/graphics/gui/gui_container_tall.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_bg_purple {
    background: url("./assets/graphics/gui/gui_bg_purple.svg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.gui_gradient_purple_top {
    background: url("./assets/graphics/gui/gui_gradient_purple_top.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
}

.gui_gradient_purple_bottom {
    background: url("./assets/graphics/gui/gui_gradient_purple_bottom.svg");
    background-repeat: repeat-x;
    background-position: top;
    background-size: contain;
}

.gui_hori_bottom {
    background: url("./assets/graphics/gui/gui_hori_bottom.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_vert_left {
    background: url("./assets/graphics/gui/gui_vert_left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_hr_vert {
    background: url("./assets/graphics/gui/gui_hr_vert.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_hr_vert_1 {
    background: url("./assets/graphics/gui/gui_hr_vert_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_hr_hori {
    background: url("./assets/graphics/gui/gui_hr_hori.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_hr_hori_1 {
    background: url("./assets/graphics/gui/gui_hr_hori_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo {
    background: url("./assets/graphics/gui/gui_logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_combo {
    background: url("./assets/graphics/gui/gui_logo_combo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_combo_1 {
    background: url("./assets/graphics/gui/gui_logo_combo_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_combo_2 {
    background: url("./assets/graphics/gui/gui_logo_combo_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_combo_3 {
    background: url("./assets/graphics/gui/gui_logo_combo_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_combo_4 {
    background: url("./assets/graphics/gui/gui_logo_combo_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_mark {
    background: url("./assets/graphics/gui/gui_logo_mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_type {
    background: url("./assets/graphics/gui/gui_logo_type.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_icon_vr {
    background: url("./assets/graphics/gui/gui_icon_vr.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_icon_tv {
    background: url("./assets/graphics/gui/gui_icon_tv.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_icon_ipad {
    background: url("./assets/graphics/gui/gui_icon_ipad.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_icon_iphone {
    background: url("./assets/graphics/gui/gui_icon_iphone.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_icon_imac {
    background: url("./assets/graphics/gui/gui_icon_imac.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_icon_watch {
    background: url("./assets/graphics/gui/gui_icon_watch.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.avatar_maisie {
    background: url("./assets/graphics/gui/avatar_maisie.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.avatar_nigel {
    background: url("./assets/graphics/gui/avatar_nigel.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.avatar_icon_maisie {
    background: url("./assets/graphics/gui/avatar_icon_maisie.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.avatar_icon_nigel {
    background: url("./assets/graphics/gui/avatar_icon_nigel.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

// effects

.effect_vignette {
    background: url("./assets/graphics/effect/vignette.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

// accent

.accent_noise_1 {
    background: url("./assets/graphics/accent/noise_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_2 {
    background: url("./assets/graphics/accent/noise_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_3 {
    background: url("./assets/graphics/accent/noise_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.accent_noise_4 {
    background: url("./assets/graphics/accent/noise_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}