// desktop
@media (min-width: 1025px) {

  #menu_right_buffer {
    height: 6.25vw;
  };

  #menu_left_buffer {
    height: 6.25vw;
  };

  #hover_item_top {
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
  }

  #hover_item_pink {
    height: 100%;
    width: 100vw;
  }
  
  #root {
    width: 100vw;
  }

  #header {
    width: 100%;
    height: 6.25vw;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    z-index: 1;

      nav {
        width: 100%;
        height: 100%;
        float: left;
      }

      .link_home {
        width: 25%;
        line-height: 6.25vw;
        font-size: 6.25vw;
        text-align: center;
        float: left;
      }
      #link_home_mark {
        width: 12.5%;
        margin-left: 12.5%;
        float: left;
      }
      .header_link {
        line-height: 6.25vw;
        font-size: 6.25vw;
        width: 12.5%;
        float:left;
        text-align: center;
      };
  };
  
  #footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    float: left;
    z-index: 1;
    box-shadow: 1vw 0vw rgba(0, 0, 0, 0.1);
      .footer_link {
        line-height: 12.5vw;
        font-size: 6.25vw;
        width: 12.5%;
        float:left;
        text-align: center;
      };
  };

  h1, h2, h3, h4, h5, h6 {
    line-height: 10vw;
    font-size: 10vw;
  };

  p {
    line-height: 10vw;
    font-size: 5vw;
    width: 100%;
    text-align: center;
  };

  input{ 
    color: #000000;
    text-align: center;
    width: 100%;
    line-height: 10vw;
    font-size: 5vw;
  };

  .max_width {
    max-width: 100%;
  };

  #gui_left{
    width: 6.25vw;
    height: 6.25vw;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  };

  #gui_right{
    width: 6.25vw;
    height: 6.25vw;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  };

  #gui_top_left{
    width: 6.25vw;
    height: 6.25vw;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;

  };

  #gui_top{
    margin: auto;
    width: 6.25vw;
    height: 6.25vw;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  };

  #gui_top_right{
    width: 6.25vw;
    height: 6.25vw;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;

  };

  #gui_bottom_left{
    width: 6.25vw;
    height: 6.25vw;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;

  };

  #gui_bottom{
    margin: auto;
    width: 6.25vw;
    height: 6.25vw;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  };

  #gui_bottom_right{
    width: 6.25vw;
    height: 6.25vw;
    z-index: 2;
    position: fixed;
    bottom: 0;
    right: 0;

  };

  .user:nth-child(3n + 1) {
    width: 33.333%;
    position: relative;
    float: left;
    clear: left;
  }

  .user:nth-child(3n + 2) {
    width: 33.333%;
    position: relative;
    float: left;
    margin: 0% .0001% 0;
  }

  .user:nth-child(3n + 3) {
    width: 33.333%;
    position: relative;
    float: left;
  }

  .post:nth-child(3n + 1) {
    width: 33.333%;
    position: relative;
    float: left;
    clear: left;
  }

  .post:nth-child(3n + 2) {
    width: 33.333%;
    position: relative;
    float: left;
    margin: 0% .0001% 0;
  }

  .post:nth-child(3n + 3) {
    width: 33.333%;
    position: relative;
    float: left;
  }

};

// mobile
@media (max-width: 1024px) {

  .post, .user {
    width: 100%;
    position: relative;
    float: left;
    clear: left;    
  }

  #menu_right_buffer {
    height: 12.5vw;
  };

  #menu_left_buffer {
    height: 12.5vw;
  };

  #hover_item_top {
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
  }

  #hover_item_pink {
    height: 200%;
    width: 100vw;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 10vw;
    font-size: 10vw;
  };

  p {
    line-height: 10vw;
    font-size: 5vw;
    width: 100%;
    text-align: center;
  };

  input{ 
    color: #000000;
    text-align: center;
    width: 100%;
    line-height: 10vw;
    font-size: 5vw;
  };



  .max_width {
    max-width: 100%;
  };

  #gui_left{
    width: 12.5vw;
    height: 12.5vw;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  };

  #gui_right{
    width: 12.5vw;
    height: 12.5vw;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  };

  #gui_top_left{
    width: 12.5vw;
    height: 12.5vw;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
  };

  #gui_top{
    margin: auto;
    width: 12.5vw;
    height: 12.5vw;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  };

  #gui_top_right{
    width: 12.5vw;
    height: 12.5vw;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
  };

  #gui_bottom_left{
    width: 12.5vw;
    height: 12.5vw;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
  };

  #gui_bottom{
    margin: auto;
    width: 12.5vw;
    height: 12.5vw;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  };

  #gui_bottom_right{
    width: 12.5vw;
    height: 12.5vw;
    z-index: 2;
    position: fixed;
    bottom: 0;
    right: 0;
  };

};

#root {
  width: 100vw;
}

#header_tabs {
  .header_link {
    line-height: 12.5vw;
    height: 12.5vw;
    font-size: 6.25vw;
    width: 12.5%;
    float:left;
    text-align: center;
  };
};


#footer_tabs {
  .footer_link {
    line-height: 12.5vw;
    height: 12.5vw;
    font-size: 6.25vw;
    width: 12.5%;
    float:left;
    text-align: center;
  };
};

#header {
  width: 100%;
  height: 12.5vw;
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  z-index: 1;
  box-shadow: 0vw 1vw rgba(0, 0, 0, 0.1);
  background: $grey;

  nav {
    width: 100%;
    height: 100%;
    float: left;
  }

  .link_home {
    width: 25%;
    line-height: 12.5vw;
    height: 12.5vw;
    font-size: 6.25vw;
    text-align: center;
    float: left;
  }

  #link_home_mark {
    width: 18.75%;
    margin-left: 12.5%;
    float: left;
  }

  .header_link {
    line-height: 12.5vw;
    height: 12.5vw;
    font-size: 6.25vw;
    width: 12.5%;
    float:left;
    text-align: center;
  };
};

#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  float: left;
  z-index: 1;
  background: $grey;
  box-shadow: 0vw -1vw rgba(0, 0, 0, 0.1);

  .footer_link {
    line-height: 12.5vw;
    height: 12.5vw;
    font-size: 6.25vw;
    width: 12.5%;
    float:left;
    text-align: center;
  };
};

#load_bar_container {
  height: 5vw;
};

h1, h2, h3, h4, h5, h6 {
  background: $grey;
  color: $white;
  font-family: 'Silkscreen';
  width: 100%;
  text-align: center;
};

input {
  opacity:1  ;
  font-family: 'Silkscreen';  
};
  input[type='file'] {
  opacity:1  ;
  font-family: 'Silkscreen';  
};
