// buttons
.gui_button_signin {
    background: url("./assets/gui/gui_button_signin.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_button_signup {
    background: url("./assets/gui/gui_button_signup.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_button_signout {
    background: url("./assets/gui/gui_button_signout.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

// branding
.nownigel_gui_logo_type {
    background: url("./assets/gui/nownigel_gui_logo_type.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_logo_type_1 {
    background: url("./assets/gui/nownigel_gui_logo_type_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_logo_type_2 {
    background: url("./assets/gui/nownigel_gui_logo_type_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_logo_type_3 {
    background: url("./assets/gui/nownigel_gui_logo_type_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_logo_type_4 {
    background: url("./assets/gui/nownigel_gui_logo_type_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_logo_mark {
    background: url("./assets/gui/nownigel_gui_logo_mark.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.hands {
    background: url("./assets/gui/hands.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.circle {
    background: url("./assets/gui/circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.circle:hover {
    background: url("./assets/gui/circle_hover.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo {
    background: url("./assets/gui/gui_logo.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.gui_move_note {
    background: url("./assets/gui/gui_move_note.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.gui_logo_navs {
    background: url("./assets/gui/gui_logo_navs.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.gui_logo_navs:hover {
    background: url("./assets/gui/gui_logo_navs_hover.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.gui_about_type {
    background: url("./assets/gui/about_type.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_button_enter {
    background: url("./assets/gui/gui_button_enter.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_button_start {
    background: url("./assets/gui/gui_button_start.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_button_learn {
    background: url("./assets/gui/gui_button_learn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_or {
    background: url("./assets/gui/gui_or.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_close {
    background: url("./assets/gui/gui_close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_close:hover {
    background: url("./assets/gui/gui_close_hover.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_dash {
    background: url("./assets/gui/gui_dash.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_search {
    background: url("./assets/gui/gui_search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


// arrows
.gui_arrow_left {
    background: url("./assets/gui/gui_arrow_left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_arrow_top_left {
    background: url("./assets/gui/gui_arrow_top_left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_arrow_bottom_left {
    background: url("./assets/gui/gui_arrow_bottom_left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_arrow_top {
    background: url("./assets/gui/gui_arrow_top.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_arrow_bottom {
    background: url("./assets/gui/gui_arrow_bottom.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_arrow_right {
    background: url("./assets/gui/gui_arrow_right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_arrow_top_right {
    background: url("./assets/gui/gui_arrow_top_right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_arrow_bottom_right {
    background: url("./assets/gui/gui_arrow_bottom_right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

// accent

.accent_noise_1 {
    background: url("./assets/gui/accent_noise_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_2 {
    background: url("./assets/gui/accent_noise_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_3 {
    background: url("./assets/gui/accent_noise_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accent_noise_4 {
    background: url("./assets/gui/accent_noise_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

//effects
.effect_vignette {
    background: url("./assets/effect/effect_vignette.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// pieces

// walk left
.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_1 {
    background: url("./assets/frames/walk_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_2 {
    background: url("./assets/frames/walk_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_3 {
    background: url("./assets/frames/walk_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_4 {
    background: url("./assets/frames/walk_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_5 {
    background: url("./assets/frames/walk_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_5.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_6 {
    background: url("./assets/frames/walk_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_6.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_7 {
    background: url("./assets/frames/walk_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_7.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_8 {
    background: url("./assets/frames/walk_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_8.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_9 {
    background: url("./assets/frames/walk_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_left_9.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}


// walk right
.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_1 {
    background: url("./assets/frames/walk_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_2 {
    background: url("./assets/frames/walk_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_3 {
    background: url("./assets/frames/walk_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_4 {
    background: url("./assets/frames/walk_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_5 {
    background: url("./assets/frames/walk_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_5.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_6 {
    background: url("./assets/frames/walk_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_6.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_7 {
    background: url("./assets/frames/walk_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_7.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_8 {
    background: url("./assets/frames/walk_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_8.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_9 {
    background: url("./assets/frames/walk_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_walk_right_9.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

// blinking
.nownigel_gui_interaction_man_0_16_depth_200_face_0 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_0.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_1 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_2 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_3 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_4 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_5 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_5.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_6 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_6.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_7 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_7.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_8 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_8.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

//

.nownigel_gui_interaction_man_0_16_depth_200_face_9 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_9.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_10 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_10.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_11 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_11.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_12 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_12.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_13 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_13.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_14 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_14.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_15 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_15.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_16 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_16.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

//

.nownigel_gui_interaction_man_0_16_depth_200_face_17 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_17.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_18 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_18.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_19 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_19.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_20 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_20.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_21 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_21.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_22 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_22.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_23 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_23.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_24 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_24.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

//

.nownigel_gui_interaction_man_0_16_depth_200_face_25 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_25.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_26 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_26.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_27 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_27.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_28 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_28.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_29 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_29.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_30 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_30.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}


.nownigel_gui_interaction_man_0_16_depth_200_face_31 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_31.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_32 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_32.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

//

.nownigel_gui_interaction_man_0_16_depth_200_face_33 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_33.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_34 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_34.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_35 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_35.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_36 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_36.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_37 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_37.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_38 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_38.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_39 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_39.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_40 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_40.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

// 3

.nownigel_gui_interaction_man_0_16_depth_200_face_41 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_41.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_42 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_42.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_43 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_43.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_44 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_44.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_45 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_45.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_46 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_46.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_47 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_47.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_48 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_48.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

// 4th
.nownigel_gui_interaction_man_0_16_depth_200_face_49 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_49.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_50 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_50.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_51 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_51.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_52 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_52.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_53 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_53.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_54 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_54.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_55 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_55.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_56 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_56.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_57 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_57.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_58 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_58.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_59 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_59.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_60 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_60.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_61 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_61.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_62 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_62.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_63 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_63.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_64 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_64.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

// breathing

.nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_left_1 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_left_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_left_2 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_left_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_left_3 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_left_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_left_4 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_left_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_right_1 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_right_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_right_2 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_right_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_right_3 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_right_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_right_4 {
    background: url("./assets/frames/nownigel_gui_interaction_man_0_16_depth_200_face_0_breathing_right_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}


// sitting

.nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_right {
    background: url("./assets/frames/sit_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_right.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_right_1 {
    background: url("./assets/frames/sit_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_right_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_right_2 {
    background: url("./assets/frames/sit_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_right_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_right_3 {
    background: url("./assets/frames/sit_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_right_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_right_4 {
    background: url("./assets/frames/sit_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_right_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_left {
    background: url("./assets/frames/sit_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_left.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_left_1 {
    background: url("./assets/frames/sit_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_left_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_left_2 {
    background: url("./assets/frames/sit_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_left_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_left_3 {
    background: url("./assets/frames/sit_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_left_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_left_4 {
    background: url("./assets/frames/sit_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_sit_left_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}


//proneing
.nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_right_1 {
    background: url("./assets/frames/prone_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_right_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_right_2 {
    background: url("./assets/frames/prone_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_right_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_right_3 {
    background: url("./assets/frames/prone_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_right_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_right_4 {
    background: url("./assets/frames/prone_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_right_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_left_1 {
    background: url("./assets/frames/prone_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_left_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_left_2 {
    background: url("./assets/frames/prone_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_left_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_left_3 {
    background: url("./assets/frames/prone_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_left_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_left_4 {
    background: url("./assets/frames/prone_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_prone_left_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

//punching
.nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_right_1 {
    background: url("./assets/frames/punch_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_right_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_right_2 {
    background: url("./assets/frames/punch_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_right_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_right_3 {
    background: url("./assets/frames/punch_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_right_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_right_4 {
    background: url("./assets/frames/punch_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_right_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_left_1 {
    background: url("./assets/frames/punch_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_left_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_left_2 {
    background: url("./assets/frames/punch_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_left_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_left_3 {
    background: url("./assets/frames/punch_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_left_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_left_4 {
    background: url("./assets/frames/punch_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_punch_left_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

//jumping
.nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_right_1 {
    background: url("./assets/frames/jump_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_right_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_right_2 {
    background: url("./assets/frames/jump_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_right_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_right_3 {
    background: url("./assets/frames/jump_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_right_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_right_4 {
    background: url("./assets/frames/jump_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_right_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_left_1 {
    background: url("./assets/frames/jump_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_left_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_left_2 {
    background: url("./assets/frames/jump_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_left_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_left_3 {
    background: url("./assets/frames/jump_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_left_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_left_4 {
    background: url("./assets/frames/jump_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_jump_left_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

//floating
.nownigel_gui_interaction_man_0_16_depth_200_face_0_float_right_1 {
    background: url("./assets/frames/float_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_float_right_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_float_right_2 {
    background: url("./assets/frames/float_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_float_right_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_float_right_3 {
    background: url("./assets/frames/float_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_float_right_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_float_right_4 {
    background: url("./assets/frames/float_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_float_right_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_float_left_1 {
    background: url("./assets/frames/float_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_float_left_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_float_left_2 {
    background: url("./assets/frames/float_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_float_left_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_float_left_3 {
    background: url("./assets/frames/float_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_float_left_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_float_left_4 {
    background: url("./assets/frames/float_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_float_left_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

//bending
.nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_right_1 {
    background: url("./assets/frames/bend_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_right_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_right_2 {
    background: url("./assets/frames/bend_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_right_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_right_3 {
    background: url("./assets/frames/bend_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_right_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_right_4 {
    background: url("./assets/frames/bend_right/nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_right_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_left_1 {
    background: url("./assets/frames/bend_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_left_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_left_2 {
    background: url("./assets/frames/bend_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_left_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_left_3 {
    background: url("./assets/frames/bend_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_left_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_left_4 {
    background: url("./assets/frames/bend_left/nownigel_gui_interaction_man_0_16_depth_200_face_0_bend_left_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

// loading

.nownigel_gui_interaction_hands_0_0_depth_200_1 {
    background: url("./assets/frames/loading/nownigel_gui_interaction_hands_0_0_depth_200_1.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_hands_0_0_depth_200_2 {
    background: url("./assets/frames/loading/nownigel_gui_interaction_hands_0_0_depth_200_2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_hands_0_0_depth_200_3 {
    background: url("./assets/frames/loading/nownigel_gui_interaction_hands_0_0_depth_200_3.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_hands_0_0_depth_200_4 {
    background: url("./assets/frames/loading/nownigel_gui_interaction_hands_0_0_depth_200_4.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_hands_0_0_depth_200_5 {
    background: url("./assets/frames/loading/nownigel_gui_interaction_hands_0_0_depth_200_5.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_hands_0_0_depth_200_6 {
    background: url("./assets/frames/loading/nownigel_gui_interaction_hands_0_0_depth_200_6.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_hands_0_0_depth_200_7 {
    background: url("./assets/frames/loading/nownigel_gui_interaction_hands_0_0_depth_200_7.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_hands_0_0_depth_200_8 {
    background: url("./assets/frames/loading/nownigel_gui_interaction_hands_0_0_depth_200_8.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_hands_0_0_depth_200_9 {
    background: url("./assets/frames/loading/nownigel_gui_interaction_hands_0_0_depth_200_9.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_hands_0_0_depth_200_10 {
    background: url("./assets/frames/loading/nownigel_gui_interaction_hands_0_0_depth_200_10.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_hands_0_0_depth_200_11 {
    background: url("./assets/frames/loading/nownigel_gui_interaction_hands_0_0_depth_200_11.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.nownigel_gui_interaction_hands_0_0_depth_200_12 {
    background: url("./assets/frames/loading/nownigel_gui_interaction_hands_0_0_depth_200_12.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.gui_paint_1 {
    background: url("./assets/frames/loading/gui_paint_1.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.gui_paint_2 {
    background: url("./assets/frames/loading/gui_paint_2.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.gui_paint_3 {
    background: url("./assets/frames/loading/gui_paint_3.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.gui_paint_4 {
    background: url("./assets/frames/loading/gui_paint_4.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.gui_paint_5 {
    background: url("./assets/frames/loading/gui_paint_5.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.gui_paint_6 {
    background: url("./assets/frames/loading/gui_paint_6.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.gui_paint_7 {
    background: url("./assets/frames/loading/gui_paint_7.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.gui_paint_8 {
    background: url("./assets/frames/loading/gui_paint_8.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.gui_paint_9 {
    background: url("./assets/frames/loading/gui_paint_9.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

/* particles */
.particles_health {
    background: url("./assets/pieces/particles/particles_health.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

/* stage pieces */

.stage_workspace {
    background: url("./assets/pieces/stage/stage_workspace.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.gui_stage_floor {
    background: url("./assets/pieces/stage/stage_floor.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.gui_stage_door_closed {
    background: url("./assets/pieces/stage/stage_door_closed.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.gui_stage_door_opened {
    background: url("./assets/pieces/stage/stage_door_opened.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.gui_stage_wall {
    background: url("./assets/pieces/stage/stage_wall.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.gui_stage_lines {
    background: url("./assets/pieces/stage/stage_lines.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.gui_paint_top {
    background: url("./assets/gui/gui_paint_top.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.gui_paint_bottom {
    background: url("./assets/gui/gui_paint_bottom.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.gui_paint_right {
    background: url("./assets/gui/gui_paint_right.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

.gui_paint_left {
    background: url("./assets/gui/gui_paint_left.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

// pieces
.piece_desk_mg {
    background: url("./assets/pieces/furniture/piece_desk_mg.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.piece_desk_bg {
    background: url("./assets/pieces/furniture/piece_desk_bg.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.pieces_office_shoplight_on_bg {
    background: url("./assets/pieces/furniture/pieces_office_shoplight_on_bg.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.pieces_office_shoplight_off_bg {
    background: url("./assets/pieces/furniture/pieces_office_shoplight_off_bg.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.pieces_office_shoplight_off {
    background: url("./assets/pieces/furniture/pieces_office_shoplight_off.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.pieces_office_shoplight_on {
    background: url("./assets/pieces/furniture/pieces_office_shoplight_on.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}