// yellow

.box_shadow_bottom_right_1vh_dark_inset {
-webkit-box-shadow: inset 0px 0px 0px 3.125vh rgba(35, 56, 55, 0.1);
-moz-box-shadow: inset 0px 0px 0px 3.125vh rgba(35, 56, 55, 0.1);
box-shadow: inset 0px 0px 0px 3.125vh rgba(35, 56, 55, 0.1);
}

.box_shadow_hover_none:hover {
    box-shadow: 0vh 0vh rgba(0, 0, 0, 0);
}

.box_shadow_top_1vh_dark {
    box-shadow: 0vh -1vh rgba(35, 56, 55, 0.1);
}

.box_shadow_bottom_1vh_dark {
    box-shadow: 0vh 1vh rgba(35, 56, 55, 0.1);
}

.box_shadow_bottom_right_1vh_dark {
    box-shadow: -1vh 1vh rgba(35, 56, 55, 0.1);
}

.box_shadow_bottom_left_1vh_dark {
    box-shadow: 1vh 1vh rgba(35, 56, 55, 0.1);
}

.box_shadow_top_right_1vh_dark {
    box-shadow: 1vh -1vh rgba(35, 56, 55, 0.1);
}

.box_shadow_top_left_1vh_dark {
    box-shadow: -1vh -1vh rgba(35, 56, 55, 0.1);
}

.box_shadow_bottom_right_1vh_light_yellow_0 {
    box-shadow: 1vh -1vh $yellow;
}

.box_shadow_bottom_left_1vh_light_yellow_0 {
    box-shadow: 1vh 1vh $yellow;
}

.box_shadow_top_right_1vh_light_yellow_0 {
    box-shadow: -1vh -1vh $yellow;
}

.box_shadow_top_left_1vh_light_yellow_0 {
    box-shadow: -1vh 1vh $yellow;
}
